[2021-07-01 12:51] jolow99 opened #4 "Changi Coffee Corner"
**Name of Student Organisation***
Changi Coffee Corner

**Cluster**
Specialist

**Classification**
Interest Group

**Description**
Through building a vibrant coffee brewing culture in SUTD, Changi Coffee Corner hopes to connect people over coffee and build the community. With our goal of having a student-run espresso coffee cart, we are limited to conduct internal workshops and coffee appreciation

[2021-07-01 12:54] jolow99 opened #5 "Changi Coffee Corner Intro Session / Barista Workshop"
**Session Name**
Changi Coffee Corner Intro Session / Barista Workshop

**Abstract**
Curious as to how your favourite latte is made?  Join us, as we discover the complexities of espresso and how you can bring this experience home. This 2 hour session includes hands-on experience with the operation of an espresso machine, including the opportunity to froth your own milk and pour your own latte art.

[2021-07-16 14:52] sutdfootball opened #7 "SUTD FOOTBALL INTRODUCTORY SESSION"
**Name of Student Organisation***
[SUTD FOOTBALL]

**Cluster**
[Sports]

**Classification**
[Ffith Row]

**Description**
[Insert a short description of your Student Organisation, Less than 100 words]

**Training / Meeting Timings**
[Tuesdays and Thursdays 8.00pm-10.00pm]

**Student Organisation Introduction Video**
[link:]

**Name / Contact of President**
[Mohammed Fauzaan / @fauzxan]

**Other Rel

[2021-07-16 15:05] sutdfootball opened #8 "SUTD FOOTBALL"
**Name of Student Organisation***
SUTD FOOTBALL

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
We are a family of recreational and competitive players who just want to have fun while sharing our love for football. We welcome anyone who is willing to learn and be part of a team, regardless of experience. Our competitive players can also engage in competitions like Singapore Univ

[2021-07-16 15:19] sutdfootball opened #9 "FOOTBALL INTRODUCTORY SESSION"
**Session Name**
FOOTBALL INTRODUCTORY SESSION
Organised by SUTD Football EXCO

**Abstract**
A brief introduction to the regular training format and a bonding session enabling the newcomers to get to know everyone from the club.

Have fun and show off your talents in our mini-matches
Learn the way SUTD Football Club trains

**Student Organisation organising this session**
Football Club

**Event Fo

[2021-07-16 15:38] sutdfootball opened #10 "FOOTBALL INTRODUCTORY SESSION"
Session Name
FOOTBALL INTRODUCTORY SESSION
Organised by SUTD Football EXCO

Abstract
A brief introduction to the regular training format and a bonding session enabling the newcomers to get to know everyone from the club.

Have fun and show off your talents in our mini-matches
Learn the way SUTD Football Club trains

Student Organisation organising this session
Football Club

Event Format
Physical

[2021-07-17 02:10] jolow99 commented on #10
Hi @sutdfootball congratulations on being the first to submit the Github issues!!

Could we check if you need any funding from DiscoverSUTD? I see that there are some refreshments to be catered in the logistical details, we would need a breakdown of the cost as well so that we can help you get approval for funding.

[2021-07-20 09:06] sutdjudo opened #11 "SUTD JUDO"
**Name of Student Organisation**
SUTD JUDO

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
SUTD Judo club invites you to join us and learn some throws!

Judo - known as the gentle way, involves using the opponents force against themselves, using minimum effort to maximise efficiency.

What can you expect? You can learn some self defense (throws and groundwork), acrobatics (rolli

[2021-07-22 04:10] makehahaz opened #12 "SUTD Ultimate Frisbee"
**Name of Student Organisation***
Ultimate Frisbee

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
A family running and chasing after discs together. We welcome Frisbee players of all skill levels to join us; from training to just having fun together, the Ultimate Club goes far together.

**Training / Meeting Timings**
Competitive team: Wednesdays 1930 - 2230
Recreational: Frida

[2021-07-22 13:29] Anirudh181001 opened #13 "AISG-SUTD"
**Name of Student Organisation***
AISG-SUTD

**Cluster**
Makers Cluster

**Classification**
Interest Group

**Description**
We are AISG-SUTD. Our activities are manifold, including but not limited to technical workshops, bonding sessions, industry talks and visits, project initiations, research activities etc. Our club events are sure to be creative, interesting and well-thought out. The various a

[2021-07-22 14:06] Anirudh181001 opened #14 "Introduction to Data Visualization (AISG-SUTD)"
**Session Name**
Introduction to Data Visualization

**Abstract**
Participants will get a brief introduction into the world of data analysis and visualization, and will get hands on experience to work on tools such as SQL and Tableau!

**Student Organisation organising this session**
AISG-SUTD

**Event Format**
Physical

**Session intent (what to expect)**

- Participants will learn the basics of

[2021-07-23 00:33] ExtremelySunnyYK commented on #8
This is great!

[2021-07-23 02:33] yenchingp opened #15 "TinkerDay Workshop - Introductory Series"
**Session Name**
TinkerDay Workshop - Introductory Series

**Abstract**

This workshop series exposes students to different aspects of electrical circuits and Arduino. Students will get to make and bring home their very own clap activated LED by the end of the series.

**Student Organisation organising this session**
Energy Club

**Event Format**
Physical

**Session intent (what to expect)**

- Pa

[2021-07-23 02:51] yenchingp opened #16 "Energy Club"
**Name of Student Organisation***
Energy Club

**Cluster**
Makers

**Classification**
Fifth Row

**Description**
Our club aims towards clean and sustainable energy by educating our members and fellow peers on ways to incorporate them into their work through thinking, prototyping and fabricating sustainable solutions for modern day problems. Our work vary from long term projects to conducting Tinke

[2021-07-23 03:12] ExtremelySunnyYK commented on #4
This is good.

[2021-07-23 03:13] ExtremelySunnyYK commented on #11
This is good

[2021-07-23 03:13] ExtremelySunnyYK commented on #12
This is good!

[2021-07-23 03:14] ExtremelySunnyYK commented on #13
This is good!

[2021-07-23 03:14] ExtremelySunnyYK commented on #16
This is good!

[2021-07-23 07:24] #9 closed

[2021-07-23 07:26] ExtremelySunnyYK commented on #14
Hey AISG! thanks for submitting the proposal. I have 2 questions for the event.
1. How much budget do you need and what would the breakdown of the budget look like?
2. How will participants be spaced apart in groups?

Thanks!

[2021-07-23 17:02] sutdfootball commented on #10
Hi @jolow99 thank you!
The breakdown of the cost of the refreshments is as such:
- 100 cans of 100 plus ($55)
- 100 pieces of sunshine cream bread ($100)(might be cheaper since we are buying in bulk!)
- 10 kg of ice ($10)
- cooler box to store ice (~$25)

As for the signing up, it will be in terms of who signs up via the Microsoft forms first. We will add in that if participants are unable to make

[2021-07-25 16:03] ExtremelySunnyYK commented on #15
@yenchingp Hey there! thank you for putting the session down here! it looks interesting.
One comment : Are there any sign up links for the workshop?

[2021-07-27 12:22] caydennn opened #17 "Pandemic! At The Disco 2.0"
**Session Name**
Pandemic! At The Disco 2.0

**Abstract**
Pandemic! At The Disco 2.0 is the second rendition of our Pandemic! online concert series, whereby SUTD Bands members and alumni record their favorite songs and showcase their talents in their homemade music videos.

**Student Organisation organising this session**
SUTD Bands

**Event Format**
Virtual YouTube Premiere

**Session intent (wha

[2021-07-28 07:31] caramelmelmel commented on #9
Hi @ExtremelySunnyYK has this been approved by osa?

[2021-07-30 00:24] MasonGYC opened #22 "[Insert name of your Student Organisation]"
**Name of Student Organisation***
SUTD KARATE

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
SUTD Karate hosts weekly training on campus, open to all members of SUTD. Trainings focuses on basic self-defence techniques, kumite drills and katas. The club also participate regularly in competition to ensure that members get a platform to interact with other karateka and hone their

[2021-07-30 03:30] MasonGYC opened #23 "OSU! Karate Intro Session"
**Session Name**
OSU! Karate Intro Session

**Abstract**

An introductory workshop for freshmores to try out karate and to increase awareness and equip participants with basic knowledge and basic moves of karate.

**Student Organisation organising this session**
SUTD KARATE

**Event Format**
physical

**Session intent (what to expect)**

- Participants will learn karate culture and history, master

[2021-07-30 05:51] caydennn opened #24 "SUTD Bands Bandscamp 2021"
**Session Name**
Bandscamp

**Abstract**
An online bands camp organized by SUTD Bands to orientate the freshies and share with them more about our club. They will also get a chance to get their hands dirty working on a music project.

**Student Organisation organising this session**
SUTD Bands

**Event Format**
Virtual

**Session intent (what to expect)**
To introduce SUTD Bands to incoming freshi

[2021-07-30 12:00] Ryanthz opened #25 "Makerspace Personalized Stationery Holder"
Makerspace Personalized Stationery Holder
[Insert a title that captures the intent of the session and is attention-grabbing.]

Adorn your workplace with a beautiful stationery holder with your personal touch and alongside like-minded friends.
[Insert a short description of the highlights of your session in one or two sentences]

Makerspace
[Insert name of Student Organisation]

Think Tank (venue t

[2021-07-30 13:16] benjaminchong99 opened #26 "APEX Introductory Session 2021"
**Session Name**

APEX Freshmen Introductory Session

**Abstract**
Introduce SUTD APEX to the incoming freshmores

**Student Organisation organising this session**
SUTD APEX

**Event Format**
Physical

**Session intent (what to expect)**
	- An opportunity for freshmores to have fun during the first few weeks of their time in SUTD
	- Share with the freshmores about the club and what we offer (train

[2021-07-31 08:00] thoastyy opened #27 "[Insert title of your event]"
**Session Name**
Makerspace Personalised Stationery Workshop

**Abstract**
Adorn your workplace with a beautiful stationary holder with your personal touch and alongside like-minded friends by joining Makerspace's easy-going and laid-back introductory workshop!

**Student Organisation organising this session**
Makerspace

**Event Format**
Physical

**Session intent (what to expect)**

What will pa

[2021-07-31 08:39] #25 closed

[2021-07-31 08:59] Ryanthz opened #28 "Makerspace"
**Name of Student Organisation***
[Makerspace]

**Cluster**
[Makers]

**Classification**
[Fifth Row]

**Description**
[Makerspace is a friendly club that gathers like-minded friends into an environment that helps to facilitate creativity and hands on activities. Learning and passing on the knowledge about making things with our own two hands. We want to help everyone who joins Makerspace to experi

[2021-08-01 12:48] erickch123 opened #29 "[Insert name of your Student Organisation]"
**Name of Student Organisation***
[SUTD Basketball]

**Cluster**
[Sports]

**Classification**
[Fifth Row]

**Description**
[We are a group of passionate students who love to have fun and play basketball. All SUTD students are welcomed to joins us! Everybody here is like a family member who always embraces and empowers each other, regardless of skills and experience.

Come and join our introduction

[2021-08-01 13:10] erickch123 opened #30 "[BASKETBALL INTRODUCTORY SESSION]"
**Session Name**
[SUTD Basketball Introductory Session]

**Abstract**

[Come and join our introductory session and win some prizes from the respective Shooting, Dribbling, and Fitness Challenge!]

**Student Organisation organising this session**
[SUTD Basketball]

**Event Format**
[Physical]

**Session intent (what to expect)**
The flow of the session will start from regular basketball training, c

[2021-08-01 13:30] Jefflai0315 opened #31 "SUTD Athletics"
**Name of Student Organisation***
SUTD Athletics

**Cluster**
 Sports

**Classification**
Fifth Row

**Description**
Platform to provide an opportunity for members to congregate and train together, maintaining and improving their cardiovascular fitness, endurance and speed for the purpose of representing the school
in various national-level competitions

**Training / Meeting Timings**
Mondays and

[2021-08-01 14:17] Jefflai0315 opened #32 "SUTD Athletics Introduction Session"
**Session Name**
SUTD Athletics Introduction Session

**Abstract**
Teaching running drills and correct running form. Senior-Junior engagement through workouts and meals in small groups.

**Student Organisation organising this session**
SUTD Athletics

**Event Format**
physical

**Session intent (what to expect)**

Participants will experience what goes on during our athletics training; learn to ru

[2021-08-03 02:04] sutdmountaineering opened #33 "SUTD Mountaineering"
**Name of Student Organisation***
SUTD Mountaineering

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
Let's go where the mountains are!

Here at SUTD Mountaineering, our primary and longstanding aim is to cultivate the love for the outdoors and an appreciation for nature through affordable and accessible hiking opportunities, as well as more technical mountaineering expeditions

[2021-08-03 02:42] rotaractsutd opened #34 "Rotaract Introductory Session"
**Session Name**
Rotaract Introductory Session

**Abstract**
Have a passion to serve the community? Want to use your talents and skills to make a difference? Get to know what SUTD Rotaract has in store for you during this Introductory Session!

**Student Organisation organising this session**
Rotaract Club

**Event Format**
Virtual

**Session intent (what to expect)**
- Participants will get to le

[2021-08-03 08:06] Isaac-Soh opened #35 "SUTDio"
**Name of Student Organisation***
[SUTDio]

**Cluster**
[Makers]

**Classification**
[Fifth Row]

**Description**
[SUTDio is a place in which creatives and designers can come together to experience culture in a studio and to learn more about architecture. We are open to anyone who shows interest in the arts, not just architecture!]

**Training / Meeting Timings**
[Thursday 8pm - 10pm]

**Student O

[2021-08-03 13:49] ZhiZhangT opened #36 "Get to know and chill with SUTD Volleyball!"
**Session Name**
Get to know and chill with SUTD Volleyball!

**Abstract**

Simple introduction of the club and Volleyball sport in general with a mini competition to attract new people.

**Student Organisation organising this session**
SUTD Volleyball

**Event Format**
Physical

**Session intent (what to expect)**

- Participants will be able to learn the basics of Volleyball and be introduced to

[2021-08-03 13:52] ZhiZhangT opened #37 "Get to know and chill with SUTD Volleyball!"
**Session Name**
Get to know and chill with SUTD Volleyball!

**Abstract**

Simple introduction of the club and Volleyball sport in general with a mini competition to attract new people.

**Student Organisation organising this session**
SUTD Volleyball

**Event Format**
Physical

**Session intent (what to expect)**

- Participants will be able to learn the basics of Volleyball and be introduced to

[2021-08-03 13:53] #36 closed

[2021-08-03 14:00] ZhiZhangT opened #38 "SUTD Volleyball"
**Name of Student Organisation***
SUTD Volleyball

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
SUTD Volleyball is a welcoming and friendly bunch of people who enjoy playing and improving at the sport of Volleyball! We welcome players of any skill levels, whether you're a fan of Haikyuu! or Ran Takahashi wanting to experience Volleyball yourself or an experienced player from p

[2021-08-03 14:41] ljysarah opened #39 "SUTD Astro"
**Name of Student Organisation***
SUTD Astro

**Cluster**
Culture

**Classification**
Interest Group

**Description**
SUTD Astro looks to the stars and drops too much money in a fit of aperture fever. We learn about the stars and planets and other oddities in space and then try to spot them in light polluted Singapore. No worries, you will be amazed when you see through the lens of a telescope and

[2021-08-03 14:53] sutdfloorball opened #40 "SUTD Floorball"
**Name of Student Organisation**
SUTD Floorball

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
SUTD Floorball is a tight-knitted family built upon the joy of playing this fast-paced and exhilarating sport. We gather twice a week to escape from our hectic lifestyles, by engaging in a fun game of Floorball. Not only do we work hard on the court, we also strengthen our bonds via p

[2021-08-03 14:54] sutdfloorball opened #41 "Floorball Introductory Session"
**Session Name**
Floorball Introductory Session

**Abstract**
Come, have fun and pick up a new sport! You can also showcase your passing, dribbling, and shooting skills that you learnt against your opponents in a minigame.

**Student Organisation organizing this session**
SUTD Floorball Club

**Event Format**
Physical

**Session Capacity**
- 16 Participants (split into Groups of 4) + 4 Facilitator

[2021-08-04 12:09] sutkd opened #42 "SUTKD (Taekwondo)"
**Name of Student Organisation***
SUTKD (Taekwondo)

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
At SUTKD, we never skip leg day. We welcome everyone who wants to learn new skills and kick real human targets.
Anyone can join, whether you're a complete beginner or have a black belt (even if you got it as little kid). Taekwondo is the best martial art to begin with, since it fo

[2021-08-04 16:09] Samillynn opened #43 "SUTD Table Tennis"
**Name of Student Organisation***
SUTD Table Tennis

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
[Insert a short description of your Student Organisation, Less than 100 words]

**Training / Meeting Timings**
Looking for a chill place to exercise? Look no further, for the Table Tennis Club is right here! Here, you can pick up a bat and start smacking….literally!
No matter your

[2021-08-05 15:33] ongkahyuan opened #44 "Uni-Y Welcome Tea [Community Service Club]"
​​**Session Name**
Uni-Y Welcome Tea

**Abstract**
Uni-Y Welcome Tea is a time for us to show you how you can serve the community as a SUTDent! Through this event, we also hope to introduce you to our Uni-Y fam - who’ll answer any lingering questions about uni and settling into a new phase of life :)

**Student Organisation organising this session**
University-YMCA (Uni-Y)

**Event Format**
Virtua

[2021-08-05 21:38] Ho0M4n opened #45 "SparkOn! SUTD"
**Session Name**
SparkOn! SUTD

**Abstract**
[Insert a short description of the highlights of your session in one or two sentences]

1. video to be published on our various social media platforms (IG & Youtube). Video focuses on 3 main topics revolving SUTD: About SUTD, Hostel & Food around the school
2. Articles in blogpost style with topics related to SUTD
3. Bingo Game(a physical activity) for

[2021-08-06 09:17] lowryan opened #46 "SUTD Chinese Orchestra (SUTDCO)"
**Name of Student Organisation***
SUTD Chinese Orchestra (SUTDCO)

**Cluster**
Arts

**Classification**
Fifth Row

**Description**
We are a group of passionate students who share an interest in Chinese music and making music together. Whether you are keen to learn a musical instrument or are simply looking for performing opportunities, anyone is welcome to join regardless of musical background!

*

[2021-08-06 14:12] Anirudh181001 commented on #14
1. Budget: $300 ($5 / participant). $4 for some snacks (ie: sandwich and a piece of cake) and $1 for a drink
2. 4 participants per table. (Subject to regulations)

[2021-08-07 07:57] benjaminchong99 opened #47 "SUTD APREX"
**Name of Student Organisation**

APEX Outdoor Adventure Club

**Cluster**

Sports

**Classification**

Fifth Row

**Description**

We are the club for all outdoor thrill seekers searching for fun and adventures!

Hikes, Kayaking, Night Cycling, Adventure races, you name it, we'll have it!

Be it weekly trainings or events, we welcome you to the APEX family with open arms!

**Training / Meeting Ti

[2021-08-07 08:18] Sorahawk opened #48 "SUTD Archery"
**Name of Student Organisation**
SUTD Archery

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
SUTD Archery aims to allow all students to try out, or even pick up, archery as a sport here in SUTD! We provide an outlet for students to relax and shoot after a hectic day at school.

We welcome anyone regardless of prior experience, however we typically only take in new regular membe

[2021-08-08 09:21] caramelmelmel commented on #9
Closed due to duplicated proposals

[2021-08-08 13:49] benjaminchong99 opened #63 "SUTD Cuesports"
**Name of Student Organisation**

Cuesports Club

**Cluster**

Sports

**Classification**

Fifth Row

**Description**

A fifth row to pick up pool. Ranging from newcomers who want to learn pool as an interest and social skill, to veterans who want to practice to achieve competitive excellence. All inclusive and all welcoming.

**Training / Meeting Timings**

Play times are every weekday 3pm-10pm

[2021-08-08 14:07] makehahaz commented on #5
Hi Joseph, could you provide details on the session (date, time, venue) of your session?

[2021-08-09 12:51] Zalitzs opened #81 "Step on Stage (Drama Intro Session)"
**Session Name**
[Insert a title that captures the intent of the session and is attention-grabbing.]
Step on Stage (Drama Intro Session)

**Abstract**
[Insert a short description of the highlights of your session in one or two sentences]
Drama workshop where participants will play theater games and practice monologue/small scenes to introduce the freshmores to drama and what we do.

**Student Orga

[2021-08-09 14:21] jolow99 commented on #14
Hi @Anirudh181001 thanks for getting back. Just wanted to get a bit more detail from you so that we can increase the chances of your event getting funded.

1. Could we get a specific date / time / duration for your event?
2. Could you provide the specific breakdown of the snacks you would be purchasing, an estimated number of attendees and a short justification for it?

I do recommend that you pur

[2021-08-09 15:03] woemwoem opened #82 "EV Club Introductory Session"
**Session Name**
EV Club Introductory Session

**Abstract**

Welcome to SUTD EV Club, where we explore all things electric vehicle! This introductory session hopes to give participants a glimpse of what it means to be an EV Club member and the exciting opportunities that await.

Get to meet our current EXCO who will be sharing what you can expect when joining EV Club and the pathway to building yo

[2021-08-09 16:35] ongkahyuan opened #83 "University-YMCA (Uni-Y)"
**Name of Student Organisation***
University-YMCA (Uni-Y)

**Cluster**
Community

**Classification**
Fifth Row

**Description**
We're the university service club of YMCA Singapore! We conduct both local and overseas community service projects throughout the year, but also emphasize personal and leadership development through training and programmes. That's because we believe communities drive serv

[2021-08-09 18:34] rebekah1711 opened #84 "DDZ Freshie Trials"
**Session Name**
DDZ Freshie Trials

**Abstract**
A session to introduce DDZ to the incoming freshies, showing them what our trainings will be like, and introducing them to our DDZ family.

**Student Organisation organising this session**
Dance DerivativeZ (DDZ)

**Event Format**
Physical

**Session intent (what to expect)**

Share with us what you hope your participants will take away from this s

[2021-08-10 08:52] asdfash opened #86 "Multi Rotor SUTD (MRS) 5th row Intro Session"
**Session Name**

Multi Rotor SUTD (MRS) 5th row Intro Session

**Abstract**

Learn more about MRS and drones, and design your own over 3 days!

**Student Organisation organising this session**

Multi Rotor SUTD

**Event Format**

Physical

**Session intent (what to expect)**

Participants will get to know about the club and what we do
Participants will learn more about drone **design** and how dr

[2021-08-10 11:02] castlemas commented on #45
Hi SparkOn! Thanks for submitting your proposal.
Just a few questions, for _Bingo Game(a physical activity) for freshies to participate in during DiscoverSUTD period and win attractive prizes_ how would SparksOn! ensure safe distancing measures when distributing the stickers and prizes?

[2021-08-10 12:07] #4 closed

[2021-08-10 12:07] #8 closed

[2021-08-10 12:09] #11 closed

[2021-08-10 12:10] #13 closed

[2021-08-10 12:10] #12 closed

[2021-08-10 12:11] ExtremelySunnyYK commented on #7
Closed due to duplicate

[2021-08-10 12:11] #7 closed

[2021-08-10 12:22] jolow99 commented on #5
There will be a total of 2 workshops:
22th Sep 1500-1700
29th Sep 1500-1700

It will be held at ROOT Cove which we already have a recurring booking for.

[2021-08-10 12:58] ExtremelySunnyYK commented on #23
Hi @MasonGYC thanks for submitting karate's event proposal!

A few questions before we can proceed:

1. Would you be able to provide the date and time for the usage of dance studio for the event?
2. Would the workshop facilitators be under the headcount for the session?

Thank you and we hope to hear from you soon!

[2021-08-10 13:58] Anirudh181001 commented on #14
1. 29th September 6pm-8pm
2.  Ahh okay. How about $150 for everyone, and we will provide a pack of chips and a drink instead? Is this better?
Thanks!

[2021-08-10 15:19] Anirudh181001 commented on #14
Hi Joseph, Regarding the budget breakdown:
1. Mini oreo packets: $28.3 for 36 packets https://www.roundeyesupply.com/Mini-White-Creme-Chocolate-Sandwich-Cookies-3-Oz-p/de460590.htm
2. Milo tetra pack drink: $13.5 for 24 packets https://shopee.sg/MILO-UHT-Activ-Go-200ml-(Bundle-of-12-24-packs)-i.399307639.11207651362?position=6

Number of attendees: 20 freshies+ 4 facilitators.
Cost per person: $1.

[2021-08-10 16:31] unclerogercolander opened #87 "SUTD CyclingGeng"
**Name of Student Organisation***
SUTD CyclingGeng

**Cluster**
Sports

**Classification**
Interest Group

**Description**
SUTD CyclingGeng is home to some of the loosest, fastest, most fun-loving fellas around that just plain love cycling. From clocking 100K round-islands in crocs, blasting through janky mountain-biking trails, to chasing those Strava KOMs/PRs through TMCR, we may go flat out som

[2021-08-11 01:40] ljysarah opened #88 "Surfing the sea of stars with SUTD Astro"
**Session Name**
Surfing the sea of stars with SUTD Astro

**Abstract**

It's true that Singapore is pitifully light polluted, but a big ol' light bucket changes the scene. In this session, we'll teach you how to use a telescope and find objects in the night sky. Maybe see a planet or two?

**Student Organisation organising this session**
SUTD Astro

**Event Format**
Physical

**Session intent (wh

[2021-08-11 02:03] castlemas commented on #45
Hi SparkOn! Thanks for submitting your proposal.

Just a few questions,

1. For _"Bingo Game(a physical activity) for freshies to participate in during DiscoverSUTD period and win attractive prizes"_ How would SparkOn! ensure safe distancing measures when distributing the stickers and prizes?

2. _"There is no need for a specific venue for the physical components"_ Does that mean SparkOn! requires

[2021-08-11 02:46] Jeanhere opened #89 "SUTD Productions Club"
**Name of Student Organisation***
SUTD Productions Club

**Cluster**
Arts Cluster

**Classification**
Fifth Row

**Description**
In SUTD Productions, we do creative videography and film production. Here, you can let your imagination run wild, as there is never a lack of creative projects to take part in. We actively participate in filmmaking competitions, where you can pitch your films against the

[2021-08-11 03:31] keee99 opened #90 "Ema making! MVMC Introductory session"
**Session Name**
Ema making! MVMC Introductory session

**Abstract**
Participants are introduced to the club and what we do, and will also get to bring back their own Japanese ema (絵馬).

**Student Organisation organising this session**
Modern Visual Media Circle

**Event Format**
Physical

**Session intent (what to expect)**
Participants will get to _know more_ about MVMC and what we do as an art

[2021-08-11 03:34] keee99 opened #91 "Modern Visual Media Circle"
**Name of Student Organisation***
Modern Visual Media Circle

**Cluster**
Arts

**Classification**
Fifth Row

**Description**
MVMC offers the time and space for like-minded artists and illustrators from any background to share their art with others, and learn from one another. Be it traditional or digital art, experienced or beginner, everyone is welcome to join.

**Training / Meeting Timings**
Fr

[2021-08-11 03:55] Isaac-Soh opened #92 "Rhino 3D Modelling 101 (Be like a Starchitect)"
**Session Name**
[Rhino 3D Modelling 101 (Be like a Starchitect)]

**Abstract**

Ever wondered how Starchitects like Sou Fujimoto design their structures? Embark upon your journey into 3D modelling and architectural designs with one of the most popular industry standard tools, Rhino 3D by learning its basics. This simple and fun workshop will get you creating grand structures and interesting model

[2021-08-11 04:01] lowryan opened #93 "Introductory Session to Chinese Orchestra"
**Session Name**
Introductory Session to Chinese Orchestra

**Abstract**
An introductory session which aims to expose members of the SUTD community to the different musical instruments found in the Chinese Orchestra, as well as to have a glimpse of what we do in SUTDCO.

**Student Organisation organising this session**
SUTD Chinese Orchestra

**Event Format**
Physical

**Session intent (what to ex

[2021-08-11 04:05] rotaractsutd opened #94 "Rotaract Club"
**Name of Student Organisation***
Rotaract Club

**Cluster**
Community

**Classification**
Fifth Row

**Description**
We aim to use our passion and skills in technology and design to serve and make a difference to the community through impactful and lasting volunteering opportunities (locally and overseas). We hope to promote the community service scene in SUTD by working closely with the other co

[2021-08-11 04:37] robobdo opened #95 "Mechanical Designer Club Short Introductory Session"
**Session Name**
MechD Short Online Introduction

**Abstract**
How do we design practical parts/ components? How do we know if the parts will look good?

CAD software allow us to create and visualise our designs in a virtual environment, before 3D printing or fabricating the models.

Interested to learn more? MechD club provides beginner to intermediate workshops for SolidWorks and Fusion360, as w

[2021-08-11 05:37] issacj-17 opened #96 "Design Odyssey 1st Workshop Session – Introduction & Induction to Design Innovation Workshop"
**Session Name**
Design Odyssey: Introduction to Design Innovation

**Abstract**
Learn all about Design Odyssey’s DRIVE programme. The session includes a Design Innovation exercise, where students will learn design innovation and technical skills that are highly in-demand by the workforce.

**Student Organisation organising this session**
Design Odyssey

**Event Format**
Virtual (Zoom)

**Session

[2021-08-11 05:40] issacj-17 opened #97 "Design Odyssey 2nd Workshop Session – Introduction & Induction to Business 360 Workshop"
**Session Name**
Design Odyssey: Introduction to Business 360

**Abstract**
Learn all about Design Odyssey’s DRIVE programme. The session includes Business Model exercise, where students will learn how to leverage on the Business model canvas as a strategic and management tool to describe, design and pivot a business!

**Student Organisation organising this session**
Design Odyssey

**Event Format

[2021-08-11 05:44] issacj-17 opened #98 "Design Odyssey 3rd Workshop Session – Introduction & Ideation Workshop"
**Session Name**
Design Odyssey: Introduction & Ideation

**Abstract**
Learn all about Design Odyssey’s DRIVE programme. The session includes Ideation exercise, where students will learn about Ideation Mindset, Methods and Down Selection Tools!

**Student Organisation organising this session**
Design Odyssey

**Event Format**
Virtual (Zoom)

**Session intent (what to expect)**
- Participants will

[2021-08-11 05:59] issacj-17 commented on #81
Hey @Zalitzs, you may want to add a title to this issue.

[2021-08-11 06:17] asdfash opened #99 "Multi Rotor SUTD"
**Name of Student Organisation***
Multi Rotor SUTD (MRS)

**Cluster**
Makers

**Classification**
Fifth Row

**Description**
We specialize in drones, especially quadcopters. If you would like to design, build and fly drones, or RC planes/boats/cars, you've come to the right place!

**Training / Meeting Timings**
ad hoc

**Name / Contact of President**
Sean Yeo
Telegram: @&#8203;weighanchor
email: s

[2021-08-11 06:53] gnuppie opened #100 "Vertex Cheerleading Introductory Sessions"
**Session Name**
Vertex Cheerleading Introductory Sessions

Abstract
Our sessions aim to prove to you that the gravity-defying stunts that you watch online/from performances are actually easier than they seem. Participants can expect to base/fly, gain new skills, and encounter satisfying and thrilling experiences unique to Cheerleading. Join us to defy gravity, no prior experience required!

**Stu

[2021-08-11 06:55] SUTD-Climbers opened #101 "SUTD Climbers Freshmore Bouldering Introduction Session"
**Session Name**
SUTD Climbers Freshmore Bouldering Introducion Session

**Abstract**
To let freshmore students experience the sport of bouldering and interact with the current SUTD climb team

**Student Organisation organising this session**
SUTD Climbers

**Event Format**
Physical

**Session intent (what to expect)**
The freshmore climbing introduction session aims to introduce freshmore student

[2021-08-11 09:00] Sorahawk opened #102 "SUTD Archery - Introductory Funshoot"
**Session Name**
SUTD Archery - Introductory Funshoot

**Abstract**
Get to try out archery in a fun and casual setting with minigames and small prizes!

**Student Organisation organising this session**
SUTD Archery

**Event Format**
Physical

**Session intent (what to expect)**
Participants will not require any prior knowledge of archery. The introductory funshoot sessions will allow participants

[2021-08-11 09:03] 9Breaker opened #103 "Gunpla Club Basic Modelling and Introduction"
**Session Name**
Gunpla Club Basic Modelling and Introduction Workshop

**Abstract**

Gunpla Club is a plastic modelling club in SUTD. The club specialises in plastic models and welcomes all who enjoy plastic modelling, as well as improving members' maker skills and competencies with 3D printing and modelling.

**Student Organisation organising this session**
Gunpla Club

**Event Format**
Physical

[2021-08-11 09:07] Sorahawk opened #104 "SUTD Archery - Induction Course"
**Session Name**
SUTD Archery - Induction Course

**Abstract**
_Attending this induction course is necessary for students to participate in our regular weekly sessions._ They will be introduced to some basic archery theory, the safety aspects of shooting and shooting range procedures.

**Student Organisation organising this session**
SUTD Archery

**Event Format**
Physical

**Session intent (what

[2021-08-11 09:19] brycegoh opened #105 "3DC event proposal for DiscoverSUTD 2021"
## 3DC: Introduction to the space of software engineering

**Abstract**
Learn more about software engineering and how participating in a fifth row enhances your SUTD experience.
Talk to seniors from various backgrounds while they share about their interests and experiences.

**Student Organisation organising this session**
Digital Design and Development Club (3DC)

**Event Format**
Format: Physica

[2021-08-11 09:44] ExtremelySunnyYK commented on #92
@Isaac-Soh hey Isaac thanks for submitting the event proposal! Just one clarification : Do you guys have any need for budget?

[2021-08-11 09:47] ExtremelySunnyYK commented on #93
Hi @lowryan thanks for submitting the event proposal for Chinese Orchestra.

Could we kindly have the budget breakdown of the refreshments planned for purchase?

Do note that claims would have to be made on concur with receipts.

[2021-08-11 09:48] ExtremelySunnyYK commented on #94
Thanks @rotaractsutd for submitting the Student organisation details.

This looks good.

[2021-08-11 09:51] ExtremelySunnyYK commented on #96
Hey @issacj-17 thanks for submitting the event proposal for the introductory session for DO.

Could you kindly provide us with the budget breakdown? For instance how many ice cream vouchers would you be getting?

Do note to keep the receipts as it would be required for claims in concur.

Thank you!

[2021-08-11 09:53] ExtremelySunnyYK commented on #97
Hey @issacj-17 thanks for submitting the event proposal for the introductory session for DO.

Could you kindly provide us with the budget breakdown? For instance how many ice cream vouchers would you be getting?

Also would the budget for ice cream vouchers be shared among the 3 sessions?

Thank you!

[2021-08-11 09:57] ExtremelySunnyYK commented on #87
Hey @unclerogercolander thanks for submitting the student club details for cyclinggeng! Pretty cool.

This is good.

[2021-08-11 10:20] issacj-17 commented on #96
Hey @ExtremelySunnyYK

[2021-08-11 10:23] ExtremelySunnyYK commented on #101
hi @SUTD-Climbers! Thanks for submitting the github issue to us!

A few questions before we can proceed:
1. Could you provide the estimated budget required for Duct tape and permanent markers and approximately how many you would need?
2. Is there a sign up link for the event? It seems like it might have been missed out.

Thank you!

[2021-08-11 10:23] ExtremelySunnyYK commented on #63
This is good, thank you for submitting.

[2021-08-11 10:24] issacj-17 commented on #96
Hey @ExtremelySunnyYK

Our budget breakdown is based on the assumption that we will have 50 participants (based on experience from past workshops). We would like to offer every participant the opportunity to consume an Ugly Food ice-cream. We estimate the cost to be $2 per pax.

In other words, it would be 50 x $2 (= $100) for each of the 3 sessions.

Also, do you need me to replicate the above fo

[2021-08-11 11:51] sutkd opened #106 "Kick Off Freshmore with SUTKD!"
**Session Name**
Kicking Off Freshmore with SUTKD!

**Abstract**
SUTKD invites you to try Taekwondo! Never tried a martial art before? We invite you to have your first experience with us. Join us to learn some fun self-defence techniques and show off your kicks to your fellow freshies! You'll get a free drink after the session to help you stay hydrated :)

**Student Organisation organising this se

[2021-08-11 12:23] brutatoasta opened #107 "Students for the Exploration and Development of Space (SEDS-SUTD)"
**Name of Student Organisation**
Students for the Exploration and Development of Space (SEDS-SUTD)

**Cluster**
Makers Cluster

**Classification**
Interest Group

**Description**
Advancing space technology and development through student-led, multi-disciplinary research, engineering and design projects.
We do chemical rockets, educational livestreams, and are looking to expand and do more projects

[2021-08-11 13:04] naffins opened #108 "SUTD Wind Ensemble Intro Session"
**Session Name**
SUTD Wind Ensemble Intro Session

**Abstract**
Come and try out a new instrument and/or new songs (for more experienced players), and learn more about SUTD Wind Ensemble!

**Student Organisation organising this session**
SUTD Wind Ensemble

**Event Format**
Physical

**Session intent (what to expect)**
- Participants will *get to know more about Wind Ensemble*
- Participants who a

[2021-08-11 13:30] naffins opened #109 "SUTD NihonGo! Intro Session 2021"
**Session Name**
SUTD NihonGo! Intro Session 2021

**Abstract**
Come and learn more about SUTD NihonGo and what we do, and try your hand at one of our regular activities!

**Student Organisation organising this session**
SUTD NihonGo!

**Event Format**
Physical

**Session intent (what to expect)**
- No requirements to join the intro session or SUTD NihonGo
- Participants will get to *learn more ab

[2021-08-11 14:07] carrotbeetrice opened #110 "Swift Coding Club Intro Session"
**Session Name**

Swift Coding Club Intro Session

**Abstract**

Introduction to Swift Coding Club, SUTD's team of budding iOS developers

**Student Organisation organising this session**

Swift Coding Club

**Event Format**

Virtual (via Teams)

**Session intent (what to expect)**

* Overview of Swift Coding Club
* What to expect upon joining
* Sharing on iOS development curriculum
* Showcase of

[2021-08-11 14:33] unclerogercolander commented on #87
thanks for your work bro, appreciate it :)
- Tim

[2021-08-11 14:34] sutdjudo opened #111 "SUTD JUDO Introductory Session PLAN A"
**SUTD JUDO Introductory Session**

**Abstract**

We will be sharing some non-contact Judo exercises and sharing what Judo is about. (Due to Covid-19 restrictions, we are unable to conduct a full Intro Session on campus with body contact.)

**Student Organisation organising this session**
SUTD JUDO

**Event Format**
Physical

**Session intent (what to expect)**

We hope our participants will gain

[2021-08-11 14:41] ssjh23 opened #112 "SUTD CDLH Introductory Session"
Session Name
Introductory session to CDLH

Abstract
DIY First Aid KIt and Basic First Aid

Student Organisation organising this session
Civil Defence LionHearters

Event Format
Physical

Session intent (what to expect)

At the end of the session, participants should be able to identify the basic items in a first aid kit and how to effectively use them, including bandaging and basic wound dressing.

[2021-08-11 14:51] sutdjudo opened #113 "SUTD JUDO Introductory Session PLAN B"
**SUTD JUDO Introductory Session**

**Abstract**

We will be conducting our Introductory Session externally at Jagsport (Judo Club), where participants can learn and try firsthand what Judo is all about.

**Student Organisation organising this session**
SUTD JUDO

**Event Format**
Physical

**Session intent (what to expect)**

We hope our participants will gain an insight into how Judo is like as

[2021-08-11 15:05] Dhilahesh opened #114 "SUTD Freshmore Muay Thai Introductory Sessions"
**Session Name**
SUTD Freshmore Muay Thai Introductory Sessions

**Abstract**

To expose incoming Freshmore students to the Muay Thai sport and to give incoming Freshmore students a brief look into what goes on during our trainings. The Q&A session held afterwards would allow freshies to cool down and clarify all of their existing questions.

**Student Organisation organising this session**
SUTD M

[2021-08-11 15:06] kaveripriyap opened #115 "IEEE-SUTD Student Chapter"
**Name of Student Organisation***
IEEE-SUTD Student Chapter

**Cluster**
Maker Cluster

**Classification**
Fifth Row

**Description**
Established in 2014, IEEE-SUTD Student Branch is the newest Student Branch under the IEEE Singapore Section. We conduct regular internal and external workshops including PCB design, Arduino and Kivy workshops. Through LITE and self-initiated Projects, we offer our m

[2021-08-11 15:18] kaveripriyap opened #116 "The Great IEEE-SUTD Challenge and Intro Session"
**Session Name**
The Great IEEE-SUTD Challenge

**Abstract**
Introduction to the IEEE-SUTD Student Branch and the Executive Committee. Brief introduction to Arduino IDE and Arduino Uno microcontroller with a demonstration, ending with a mini-hackathon.

**Student Organisation organising this session**
IEEE-SUTD Student Chapter

**Event Format**
Virtual

**Session intent (what to expect)**
- Partic

[2021-08-11 15:26] FolkLoreee opened #117 "SUTD Scratch! Intro Session 2021"
**Session Name**
DJ Crash Course by Scratch!

**Abstract**
Have you ever wanted to DJ but don't know where to start?
Join us and discover how you can be a DJ!

**Student Organisation organising this session**
SUTD Scratch!

**Event Format**
Physical

**Session intent (what to expect)**

- Participants will learn the basics of _mixing_ music.
- Participants will familiarize themselves with _DJ equi

[2021-08-11 15:37] unclerogercolander opened #118 "SUTD CyclingGeng - Tanah Merah Coastal Rip: Introduction, tryouts and get-to-know-you session over dinner!"
**Session Name**
Tanah Merah Coastal Rip - CyclingGeng introduction, tryouts and get-to-know-you session!

**Abstract**
Grab your bike and some friends, and take a rip with us through the evening sunset down Tanah Merah Coastal Road! Learn about CyclingGeng, get to know us along the way, and see if you're a good fit with us.
Route: SUTD > East Coast Park > Tanah Merah Coastal Road > Changi Village

[2021-08-11 15:41] brutatoasta opened #119 "Launching Bottle Rockets with SEDS-SUTD"
**Session Name**
Launching Bottle Rockets with SEDS-SUTD

**Abstract**
Date: 24 September 2021
Time: 2.00pm - 3.30pm
Launching empty 1.5L soda (PET) bottles using an bicycle pump and water pressure. Max height 3-4 storeys.

**Student Organisation organising this session**
Students for the Exploration and Development of Space (SEDS-SUTD)

**Event Format**
[Will your event be physical or virtual?]
P

[2021-08-11 15:58] FolkLoreee opened #120 "SUTD Scratch!"
**Name of Student Organisation***
SUTD Scratch!

**Cluster**
Arts

**Classification**
Fifth Row

**Description**
SUTD Scratch is a community filled with people with a passion for sound and music.
We learn to mix tracks across multiple genres and put our skills to the test to liven up school, private and external events.
The club aims to cultivate aspiring DJs who have a passion for mixing music, r

[2021-08-11 15:58] FolkLoreee commented on #120
hi, we will follow up with the intro video link ASAP :)

[2021-08-11 17:29] HASSRaccoon opened #121 ""Your Cue to Rest" Intro Workshop"
**Session Name**
"Your Cue to Rest" Intro Workshop

**Abstract**
Come and try out a game of pool at root cove, where we take a chill pill from hectic studies. Learn from friendly old-timers who are always around to guide. Whether you are looking for to pick up a new skill or hone an existing one. Everyone is welcomed.

**Student Organisation organising this session**
Cuesports Club

**Event Format

[2021-08-11 17:36] wangsiyang68 opened #122 "KLEC Introduction Session"
**Session Name**
KLEC Introduction Session

**Abstract**
Learn how to write your name in Korean and customize your own Korean Name Tags. (Limited sets available)

**Student Organisation organising this session**
Korean Language Enrichment Club (KLEC)

**Event Format**
Physical

**Session intent (what to expect)**
Introduce Freshmores to KLEC sessions, where we learn Korean through Korean Culture (

[2021-08-12 01:13] oakar-00 opened #123 "BOXING INTRODUCTORY SESSION"
**Session Name**
BOXING INTRODUCTORY SESSION

**Abstract**

An introduction of what our trainings are going to be like and also a sneak preview of what you will be doing in the future.

**Student Organisation organising this session**
SUTD BOXING CLUB

**Event Format**
Physical

**Session intent (what to expect)**

The session will be a brief introduction to boxing.
Participants will learn basic w

[2021-08-12 01:32] oakar-00 opened #124 "SUTD BOXING CLUB"
**Name of Student Organisation***
SUTD BOXING CLUB

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
Learn self defense? Keep fit? Become a fighter and represent SUTD?
We got you covered.
We do various physical activities to train our boxing techniques, cardio, endurance, strength, conditioning and sparring.
NO PRIOR EXPERIENCE NEEDED

**Training / Meeting Timings**
Wednesday and

[2021-08-12 01:38] jolow99 commented on #123
Hi @oakar-00 , thanks for submitting your event proposal!

Just to check, has Boxing Club already booked the Dance Studio for use during those dates/times?

[2021-08-12 01:43] jolow99 commented on #122
Hi @wangsiyang68 , thanks for submitting your event proposal! Could I request that you write a short justification for the $200 to be spent on name tags? It will be difficult to get funding without it.

It might be a bit difficult for us to help you request for $200 as the average request for funding from other fifth rows are in the range of $50-$100. Would highly recommend for you to reconsider h

[2021-08-12 02:42] Isaac-Soh commented on #92
Hi @ExtremelySunnyYK,
Yep we would like to get a budget of $100 for 3D printing services. This will be used to 3D Stachitect models for the students.

[2021-08-12 04:12] ExtremelySunnyYK commented on #120
Hi there! @FolkLoreee thanks for submitting the event on github.
May we know what is the location of the training event or is it mostly online?

[2021-08-12 04:15] ExtremelySunnyYK commented on #124
Hi there Oakar @oakar-00! thanks for submitting the event on github.
May we know what is the location of the training event?

[2021-08-12 04:20] #16 closed

[2021-08-12 04:25] ExtremelySunnyYK commented on #42
Hi there Long @sutkd ! thanks for submitting the event on github.
May we know what is the location of the training event?

[2021-08-12 04:44] ExtremelySunnyYK commented on #92
@Isaac-Soh , thanks for Letting us knowl! Could I request that you write a short justification for the $100 for 3D printing services? As well as a budget breakdown of what the $100 is used for i.e how many prints and where are you guys going to print?

 A reference would be
Energy club:
Full budget breakdown: https://docs.google.com/document/d/1060jRebU6fGMHcGDlto7qZerriO7lbQb2FR2oEcmnds/edit?usp=

[2021-08-12 04:48] ExtremelySunnyYK commented on #96
Thank you. nope the comment does not have to be replicated.

[2021-08-12 04:51] ExtremelySunnyYK commented on #102
@Sorahawk  , thanks for submitting the event proposal! Could I request that you write a short justification for the amount of money for the session?  i.e why is $50 needed for balloons?

As well as a budget breakdown of what the amount is used for i.e how many balloons and where are you guys going to get it?

A reference would be
 Energy club: Full budget breakdown: https://docs.google.com/documen

[2021-08-12 05:05] ExtremelySunnyYK commented on #27
Hi @thoastyy, thanks for submitting your event proposal! as well as its breakdown?

Just wanted to get a bit more detail from you so that we can increase the chances of your event getting funded.

Could you provide the specific breakdown of the snacks you would be purchasing, an estimated number of attendees and a short justification for it?

Thanks!

Reference : [AISG Student Chapter SUTD ](https

[2021-08-12 05:14] ExtremelySunnyYK commented on #30
Hi @erickch123 , thanks for submitting your event proposal!

Just wanted to get a bit more detail from you so that we can increase the chances of your event getting approved.

Could you provide an estimated number of attendees and how you would be able to ensure SHM?

Thank you.

[2021-08-12 05:17] caramelmelmel commented on #36
@ExtremelySunnyYK shoudl I ignore this?

[2021-08-12 05:22] ExtremelySunnyYK commented on #32
Hey @Jefflai0315 Jeff! Thanks for submitting the event, Just wanted to get a bit more detail from you so that we can increase the chances of your event getting approved.

1. Would the total budget required be $150 since there would be 30 people?
2. how you would be able to ensure SHM?

Do note that receipts would have to be kept as submission is through concur.

Thank you.

[2021-08-12 05:46] ExtremelySunnyYK commented on #37
Hi @ZhiZhangT , thanks for submitting your event proposal!

Just wanted to get a bit more detail from you so that we can increase the chances of your event getting approved.

1. Could you provide an estimated number of attendees and how you would be able to ensure SHM?
2. Would you be able to provide the date and time for the event?
3. Budget Breakdown and justification

Thank you.

Reference : [A

[2021-08-12 05:49] ExtremelySunnyYK commented on #39
Nice one Sarah @ljysarah , thanks for the submission!

[2021-08-12 05:50] Nehadrama opened #125 "SUTD Drama Club"
**Name of Student Organisation***
SUTD Drama Club

**Cluster**
Arts

**Classification**
Fifth Row

**Description**
Drama  Club is a club where we free ourselves from our inhibitions and embrace the idea that we can be anything. We conduct various plays and workshops for those interested in acting, directing, writing and various other roles that make a play run smoothly. Camaraderie and teamwork ar

[2021-08-12 05:54] ExtremelySunnyYK commented on #41
Hi vernon @sutdfloorball , thanks for submitting your event proposal!

Just wanted to get a bit more detail from you so that we can increase the chances of your event getting approved.

Could you provide an estimated number of attendees and how you would be able to ensure SHM?

[2021-08-12 05:58] sutkd commented on #42
Hi! It's in Dance Studio 7, we updated the issue to include it!

[2021-08-12 06:03] ExtremelySunnyYK commented on #43
Hi @Samillynn , thanks for submitting your event proposal!

Just wanted to get a bit more detail from you so that we can increase the chances of your event getting approved.

Could you provide
1. Training / Meeting Timings
2. Locations of the trainings

Thank you!

[2021-08-12 06:14] Samillynn commented on #43
Hi @ExtremelySunnyYK , thanks for you reminding.
I have added the (1) Training Timings and (2) Location of the trainings.
Please check if any modification is needed.

[2021-08-12 06:18] ExtremelySunnyYK commented on #47
Hi @benjaminchong99  , thanks for submitting your fifthrow proposal!

Just wanted to get a bit more detail from you so that we can provide more precise information.

Could you provide the location of the practice?

[2021-08-12 06:21] erickch123 commented on #30
Hello I have add more details:
Maximum Number of Attendees/Day: 30
Groupings: Maximum 5 people/ group

Thankyou

[2021-08-12 06:24] ExtremelySunnyYK commented on #48
Hi @Sorahawk  , thanks for submitting your fifthrow proposal!

Just wanted to get a bit more detail from you so that we can provide more precise information.

Could you provide the location/locations of the session in the proposal (add in with edit)?

Thank you!

[2021-08-12 06:34] ExtremelySunnyYK commented on #63
Hi @Sorahawk  , thanks for submitting your fifthrow proposal!

Just wanted to get a bit more detail from you so that we can provide more precise information.

Could you provide the location/locations of the session in the proposal (add in with edit)?

Thank you!

[2021-08-12 06:40] ExtremelySunnyYK commented on #125
Hi @Nehadrama   , thanks for submitting your fifthrow proposal!

Just wanted to get a bit more detail from you so that we can provide more precise information.

Could you provide the location/locations of the session in the proposal (add in with edit)?

Thank you!

[2021-08-12 06:42] ExtremelySunnyYK commented on #43
Thank you! it is good!

[2021-08-12 06:52] ExtremelySunnyYK commented on #82
Hi @woemwoem , thanks for submitting your event proposal!

Just wanted to get a bit more detail from you so that we can increase the chances of your event getting approved.

1. Could you provide an estimated number of attendees and how you would be able to ensure SHM if it was physical?
2. What is the exact date and timing for the booking of the location?

Thank you!

[2021-08-12 07:00] makehahaz commented on #90
Good day, thank you MVMC for your submission.

For the Fablab laser cutter, we are not sure whether we can book it on your behalf for your event - given the number of participants and dependence on the prevailing Fablab Safe Management Measures.

We will check to see what would be advisable for your club to do.

[2021-08-12 07:00] ExtremelySunnyYK commented on #91
Hi @keee99   , thanks for submitting your fifthrow proposal!

Just wanted to get a bit more detail from you so that we can provide more precise information.

Could you provide the location/locations of the session in the proposal (add in with edit)?

Thank you!

[2021-08-12 07:04] ExtremelySunnyYK commented on #86
Hey @asdfash thanks for the submission of event proposal, we will get back to you regarding the fablab access.

[2021-08-12 07:10] ExtremelySunnyYK commented on #88
Hu sarah @ljysarah, thanks for submitting your event proposal!
Just wanted to get a bit more detail from you so that we can increase the chances of your event getting funded.

Could you provide the specific breakdown of the sminiature telescopes you would be purchasing, i.e cost, units and a short justification for it?

Reference : [AISG Student Chapter SUTD ](https://github.com/OpenSUTD/DiscoverS

[2021-08-12 07:43] makehahaz commented on #103
Good day, thank you for your submission.

Could we check if there is a preferred date for your workshop? This will help with the booking of the venue.

[2021-08-12 07:46] makehahaz commented on #104
Good day, unfortunately, the date of the session falls on the 1 October which is out of the DiscoverSUTD timeframe, hence we will not be able to support funding for your session.

[2021-08-12 07:51] makehahaz commented on #105
Good day, thank you for your submission.

Could we check if there are any:
- Venues your club would be using? Bear in mind that there are group size limits as well.
- Sign-up links for your session?
- Any other budget requirements?

[2021-08-12 07:57] issacj-17 commented on #98
Okay, thanks @makehahaz.

In that case, we require no budget for our 3rd workshop from the DiscoverSUTD Committee. My team will find an alternative to fund this workshop.

[2021-08-12 08:01] makehahaz commented on #110
Looks good! Thank you

[2021-08-12 08:58] wangsiyang68 commented on #122
OK, updated budget and added justification

[2021-08-12 09:09] jolow99 commented on #122
Thanks @wangsiyang68

[2021-08-12 09:33] keee99 commented on #90
Hello, the laser cutter will be used to prepare for the event instead of during the event. We only need 2 guys to work on the laser cutter. This this possible? (and if possible, will you be booking on behalf of our event or do we book ourselves?)

[2021-08-12 09:36] benjaminchong99 commented on #47
Hi @ExtremelySunnyYK I've added the relevant details under the category training details. If there's anything else to clarify please feel free to inform me!
Also, I would like to refer you to the APEX intro session proposal. If it is possible, we hope that you can take a look at it and update us on any feedbacks soon. We would like to see if there are any changes we need to do on the venue or sche

[2021-08-12 09:41] keee99 opened #126 "FUNKTASTIC! FUNKtion intro night"
**Session Name**
FUNKTASTIC! FUNKtion intro night

**Abstract**
Freshies will be exposed to various aspects of FUNKtion, such as the locking and popping dance styles, freestyle, and the club culture, through a taster training session.

**Student Organisation organising this session**
FUNKtion

**Event Format**
Physical

**Session intent (what to expect)**
Participants will get a _taste_ of what tr

[2021-08-12 09:44] keee99 opened #127 "FUNKtion"
**Name of Student Organisation***
FUNKtion

**Cluster**
Arts

**Classification**
Fifth Row

**Description**
FUNKtion is a funk style dance club focusing on locking and popping. The club does freestyle and choreography for battles and performances. We often participate in external freestyle battles, performances and competitions to have fun and gain experience. Anyone who is interested in street da

[2021-08-12 09:46] keee99 commented on #127
We will be adding the link to the intro video once it is done and uploaded!

[2021-08-12 10:02] kaveripriyap opened #128 "IES-SUTD Student Chapter"
**Name of Student Organisation***
IES-SUTD Student Chapter

**Cluster**
Maker Cluster

**Classification**
Fifth row

**Description**
IES (Institution of Engineers, Singapore) aims to be the heart and voice of engineers and to be the national body and home for engineers in Singapore. IES represents the engineers nationally and internationally. In the IES club, we wish to inculcate a sense of curios

[2021-08-12 10:08] kaveripriyap opened #129 "IES: The Coding Tournament"
**Session Name**
IES: The Coding Tournament

**Abstract**
The Coding Tournament is a programming competition organized by IES-SUTD. It aims at stimulating students' programming creativity and improving their coding ability. Further, it also aims to provide students a window into what being a IES member entails.

**Student Organisation organising this session**
IES-SUTD Student Chapter

**Event For

[2021-08-12 10:24] Rye123 opened #130 "Systema Freshmore Intro Session"
**Session Name**
Systema Freshmore Intro Session

**Abstract**
For most, this will be the first time the incoming Freshmore Students will be introduced to Systema as a form of martial art, self-defence and lifestyle. The session aims to give an insight as to how our trainings are conducted and the uniqueness of Systema. We also aim to answer any queries.

**Student Organisation organising this ses

[2021-08-12 11:54] jiayingpui opened #131 "SUTD Civil Defence Lionhearters"
**Name of Student Organisation***
SUTD Civil Defence Lionhearters' Club

**Cluster**
Community

**Classification**
Fifth Row

**Description**
The Civil Defence Lionhearters' Club is an initiative under SCDF that encourages youth to be equipped with emergency-preparedness skills, namely first aid, firefighting, CPR and AED. This allows students to be trained to provide on-site immediate aid before

[2021-08-12 13:19] makehahaz opened #132 "Ultimate Frisbee Introductory Session"
**Session Name**
Ultimate Frisbee Introductory Session

**Abstract**
The Ultimate Frisbee team welcomes people of all skill levels to learn a new sport or simply just have some fun throwing and chasing plastic discs.

**Student Organisation organising this session**
SUTD Ultimate Club

**Event Format**
Physical

**Session intent (what to expect)**
- Learning proper disc throwing techniques.
- Simp

[2021-08-12 13:26] makehahaz commented on #126
Hi @keee99 , thank you for your submission! Just to check whether the Dance studio venues have already been booked by your club?

[2021-08-12 13:31] makehahaz commented on #129
Hey @kaveripriyap, thank you for the clear details.

Could we trouble you to:
1. Put the date and timing of the session under the session details (understood that it is within your MS Form, but just to ensure people don't miss out on it)

2. Give a breakdown for the budget required? Like what sort of prizes are you looking to give away?
E.g. [insert brand] chocolate, Qty and [link] if the item can

[2021-08-12 13:40] makehahaz commented on #90
Hello! For Fablab bookings, would be advisable for your side to do the booking yourselves, then your team can go ahead with your necessary preparations.

DiscoverSUTD can support with the Think Tank booking and your budget requirements!

[2021-08-12 14:18] 9Breaker commented on #103
Edited to include workshop date

[2021-08-12 14:43] 9Breaker commented on #103
Edited to include sign up link, telegram group link

[2021-08-12 14:46] lowryan commented on #93
Hi, the following is the budget breakdown for the refreshments, we have estimated it to be around $47.35 (rounded up to $48 above):
- 30x Milo Packets: $17.75
- 32x Rice Crackers: $3.80
- 27x Oreo Packets: $6.75
- 36x Yupi Gummy Candies: $4.05
- 30x Hello Panda: $15
- Total: $47.35

Additionally, I have amended the dates for our sessions, it will now be held on 24 and 27 September, instead of 22 a

[2021-08-12 15:45] Jeanhere opened #134 "SUTD Productions Introductory Session"
**Session Name**
SUTD Productions Introductory Session

**Abstract**
Have a story you wish to film or wonder what it takes to produce one? Join us on the journey towards producing professional videos!

**Student Organisation organising this session**
SUTD Productions Club

**Event Format**
Physical

**Session intent (what to expect)**
• Participants will get to tour around the Academic Media Studi

[2021-08-12 15:57] Ho0M4n opened #135 "Esports intro session"
**Session Name**
Esports intro session

**Abstract**
SUTD Esports games night for new and current members, _join pls, can derp around or tryhard, everything also can_
feeders also welcome

**Student Organisation organising this session**
SUTD Esports

**Event Format**
Virtual

**Session intent (what to expect)**
Participants will learn about the Esports club and the stuff we do
also to have fun :3

[2021-08-12 15:58] sutdmountaineering opened #136 "SUTD Mountaineering Info Session"
**Session Name**
SUTD Mountaineering Info Session

**Abstract**
An informal virtual Teams session where Freshies can learn about SUTD Mountaineering's schedules and plans.

**Student Organisation organising this session**
SUTD Mountaineering

**Event Format**
Virtual

**Session intent (what to expect)**
We will be sharing our senior's experiences going on multiple trips as well as expeditions that

[2021-08-12 16:01] gnuppie commented on #100
Hi @ExtremelySunnyYK Yong Kang,

Will take note for the receipts. Please check the original post and let me know for any further changes/negotiation necessary.

Thanks!

[2021-08-12 16:25] mingliang17 opened #137 "Climb to the Stars!"
**Session Name**
'Climb to the Stars!' - SUTD Mountaineering Freshmore Introductory Session

**Abstract**
In collaboration with SUTD Astronomy Interest Group, join us for a unique night climbing session combined with an introductory constellation knowledge workshop and its application. Aspiring Freshmore mountaineers can take this opportunity to connect with senior members and learn more about the

[2021-08-13 00:23] MasonGYC commented on #23
@ExtremelySunnyYK
Hello, thank you for your work!

We plan to host the session on the 2nd week of school right now if got no other issues.
And the facilitator is not counted under the headcount.

Sorry for late reply.

[2021-08-13 01:58] Isaac-Soh commented on #92
Hi @ExtremelySunnyYK, I've updated the budget after re-evaluating the costs.

[2021-08-13 03:12] Sorahawk commented on #48
Hi @ExtremelySunnyYK, I have updated the post with our venue. Side note, we are currently working on a new intro video, I will update the URL before 16/8!

[2021-08-13 03:16] Sorahawk commented on #104
HI @makehahaz, thanks for clarifying, would just like to check: If we do not need funding, are we still able to tag this event under DiscoverSUTD, since it's just 1 day after the official end?

[2021-08-13 04:20] keee99 commented on #126
The event is during our normal training time. While it hasn't been booked, we are planning to book it as part of the normal start-of-term venue bookings. However, if you can book it now to help secure the location, that'll be helpful.

[2021-08-13 04:40] Sorahawk commented on #102
@ExtremelySunnyYK thank you for the budget reference, we have shrunk our previous budget and done up an estimated breakdown. Hopefully this is more feasible.

[2021-08-13 04:52] justinehy opened #138 "[Insert title of your event]"
Session Name

Introductory Session to Squash

Abstract

Join us for our Introductory session to Squash! Squash is a lesser-known sport, but it is a fun, satisfying and yet challenging game. Participants will be introduced to the basics of Squash, and feel experience the physical, technical and social aspects of the sport. No prior experience is needed, our club consists of player of all skill leve

[2021-08-13 04:56] justinehy opened #139 "[Insert name of your Student Organisation]"
**Name of Student Organisation***
SUTD Squash

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
We are a close-knit bunch of enthusiastic Squash players. We train and learn together, united by our passion and love for the game. Whether you want to train competitively, want to pick up a new sport, or just want to have fun, our club warmly welcomes all who are interested in Squash!

[2021-08-13 06:19] ExtremelySunnyYK commented on #107
Thanks Joshua for the submission of proposal!

[2021-08-13 06:20] makehahaz commented on #126
Cool! Understood

[2021-08-13 06:32] ExtremelySunnyYK commented on #93
Thank you for the update ryan!

[2021-08-13 06:43] ExtremelySunnyYK commented on #134
Hi @Jeanhere, thanks for submitting your event proposal!

Just wanted to get a bit more detail from you so that we can increase the chances of your event getting approved.

how the club be able to ensure SHM given that there is 20 participants?

Thank you!

[2021-08-13 06:44] ExtremelySunnyYK commented on #132
Best club

[2021-08-13 06:55] ExtremelySunnyYK commented on #121
Hi @HASSRaccoon  , thanks for submitting your event proposal!

Just to check, has cue sports club already booked the root cove for use during those dates/times?

[2021-08-13 07:01] ExtremelySunnyYK commented on #119
Hey @brutatoasta , thank you for the clear details.
Could we trouble you to:
1. Give a breakdown for the budget required? Like what sort of prizes are you looking to give away? E.g. [insert brand] chocolate, Qty and [link] if the item can be found online to justify the price. 

Do note that claims are done via concur with valid receipts required, so giving a clearer breakdown can facilitate a smoo

[2021-08-13 07:05] ExtremelySunnyYK commented on #116
Hey @kaveripriyap, thank you for the clear details.
Could we trouble you to:
1. Put the date and timing of the session under the session details (understood that it is within your MS Form, but just to ensure people don't miss out on it) 
2. Give a breakdown for the budget required?Ho many vouchers and how much is the membership?
 E.g. [insert brand] chocolate, Qty and [link] if the item can be fou

[2021-08-13 07:21] makehahaz commented on #104
Hi @Sorahawk , just checked with the team that anything out of the 30 Sep range won't be tagged under DiscoverSUTD as the timeframe was given to all fifth rows.

Hope your club understands that this is part of being fair to other fifth rows as well!

[2021-08-13 07:48] ExtremelySunnyYK commented on #113
Hi @sutdjudo thanks for submitting the event proposal.

Previously SUTD Judo has submitted another introductory session. May we know which would be the main session such that we are able to put on our website?

Thank you.

[2021-08-13 07:53] ExtremelySunnyYK commented on #114
Hi @Dhilahesh , thanks for submitting your event proposal! A couple of questions before we can proceed.

1. Put the date and timing of the session under the session details (understood that it is within your MS Form, but just to ensure people don't miss out on it)

2. Could I request that you write a short justification for the $300 to be spent on piazzas? It will be difficult to get funding witho

[2021-08-13 07:57] sutdjudo commented on #113
Hi Yong Kang @ExtremelySunnyYK , we are unable to confirm at this point of time which one we will be doing (hence Plan A and Plan B) as we are currently sorting out some arrangements with OSL and external club.

If there's a need to pick immediately, we could go ahead with PLAN A to be put up on the website. (The one which is conducted on campus with no body contact)

Thanks!
Valu, on behalf of SU

[2021-08-13 07:58] ExtremelySunnyYK commented on #113
Thank you Valu @sutdjudo ! We will keep that in mind. If there are any updates to which plan is preferred, do let us know over here!

[2021-08-13 08:00] ExtremelySunnyYK commented on #109
hi @naffins thanks for submission!

Do note that claims are done via concur with valid receipts required, so giving a clearer breakdown can facilitate a smoother process for budet approval. Cheers!

[2021-08-13 08:01] sutdjudo commented on #113
@ExtremelySunnyYK

Will do! I believe I've been in contact with @castlemas on this as well.

Thanks for your help and we apologise for the inconveniences!

[2021-08-13 08:01] Jeanhere commented on #134
Hi, we will be splitting the 20 participants into groups of 5. During the session, the groups will be separated apart and will not intermingle.

Noted on the track of receipts

[2021-08-13 08:05] ExtremelySunnyYK commented on #100
Hey Louis! The amendments are great, thank you!

[2021-08-13 08:07] ExtremelySunnyYK commented on #98
Thank you for your understanding Issac!

[2021-08-13 08:11] ExtremelySunnyYK commented on #14
@Anirudh181001 for the timing of the booking of think thank, would 6-9 pm be an okay timing?

[2021-08-13 08:27] ExtremelySunnyYK commented on #102
Thank you for the full budget breakdown!

Do note that claims are done via concur with valid receipts required, so giving a clearer breakdown definetely helps to facilitate a smoother process for budget approval. Cheers!

[2021-08-13 08:32] ExtremelySunnyYK commented on #134
Thank you for the reply @Jeanhere !
We wanted to check if help is required to book the venue or you guys have it booked?

[2021-08-13 08:36] ExtremelySunnyYK commented on #117
Hi @FolkLoreee thanks for submission of the event! do you guys need help booking the venue?

[2021-08-13 09:55] brutatoasta commented on #119
Added budget breakdown for prizes and venue!

[2021-08-13 10:13] Jeanhere commented on #134
We will book the venue ourselves, thank you

[2021-08-13 12:43] Anirudh181001 commented on #14
Yup sure that sounds good!

On Fri, Aug 13, 2021 at 4:11 PM Chia Yong Kang ***@***.***>
wrote:

[2021-08-14 05:50] Daniel-TanJH opened #140 "[Insert name of your Student Organisation]"
**Name of Student Organisation***
Mindsports Club

**Cluster**
[Insert cluster your Student Organisation belongs to e.g. Arts, Community, Culture, Makers, Sports, Student Government]

**Classification**
[Insert classification of your Student Organisation e.g. Fifth Row / Probationary Club / Interest Group]

**Description**
[Insert a short description of your Student Organisation, Less than 100 wor

[2021-08-14 08:27] kwerer opened #141 "Badminton Introduction Session"
SUTD Badminton Introductory Session

**Abstract**
We will be conducting badminton sessions in school, to ease freshies into our club, to get to know other members

**Student Organisation organising this session**
SUTD Badminton

**Event Format**
Physical

**Session intent (what to expect)**

Come to play badminton at ISH 2
Have some fun with new friends through a mini competition
Followed by casua

[2021-08-14 13:08] iangohy opened #142 "SOAR"
**Name of Student Organisation**
SUTD Organization of Autonomous Robotics

**Cluster**
Makers

**Classification**
Fifth Row

**Description**
SOAR focuses on autonomous robotics platforms, as well as AI and machine learning frameworks. We aim to nurture a committed robotics community through impactful projects and member development. While we are a very niche club, we welcome people of any backgrou

[2021-08-14 17:21] keee99 commented on #91
@ExtremelySunnyYK  Hello, location is added!. Also, is it possible to get a time extension on the video link?

[2021-08-15 01:59] wangsiyang68 opened #143 "Korean Language Enrichment Club (KLEC)"
**Name of Student Organisation**
Korean Language Enrichment Club (KLEC)

**Cluster**
Culture

**Classification**
Fifth Row

**Description**
Sharing bits of Korean Culture at SUTD
We are a community of Koreaboos learning Korean through Culture and Games

**Training / Meeting Timings and Locations**
Each Thursday, 6.30pm to 8pm

**Student Organisation Introduction Video**
https://www.youtube.com/wat

[2021-08-15 03:30] iangohy opened #144 "SOAR Tea Session"
**Session Name**
SOAR Tea Session

**Abstract**

Introduction to what we do and who we are here at SOAR (SUTD Organization of Autonomous Robotics)! An introductory session where every SOAR project can be  showcased in detail. Participants can sign up for SOAR challenge here too,  which is an introductory program to become an official SOAR member.

**Student Organisation organising this session**
S

[2021-08-15 04:27] dellebew opened #145 "SUTD Tchoukball"
**Name of Student Organisation***
SUTD Tchoukball

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
Close-knit group of people who learn, play and train for tchoukball together

**Training / Meeting Timings and Locations**
Tuesdays and Thursdays 8pm-11pm ISH2

**Student Organisation Introduction Video**
https://youtu.be/gvkdOfGIYAI

**Name / Contact of President**
Name: Lim Ken Zh

[2021-08-15 07:40] FolkLoreee commented on #117
Hi @ExtremelySunnyYK, sure, would be great if you could help us book the venue. Thanks :)
But do let us know if you have any difficulty in booking since we usually do our own booking 😄

[2021-08-15 07:42] FolkLoreee commented on #120
hi @ExtremelySunnyYK. I've updated the issue with our training location. Thanks!

[2021-08-15 08:43] malppr opened #146 "[Insert name of your Student Organisation]"
**Name of Student Organisation**
Electric Vehicle Club (EV)

**Cluster**
Makers

**Classification**
Fifth Row

**Description**
EV club is a team of passionate individuals who dream, design, and build electric vehicles. We embark on automotive engineering projects at all levels, from reinforcing fundamentals by tweaking go-karts, to pushing boundaries, designing and 3d printing a full-sized electri

[2021-08-15 12:01] SUTD-Climbers opened #147 "SUTD Climbers"
**Name of Student Organisation***
SUTD Climbers

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
A Small Team with Big Dreams
Every Climber has a reason that fuels their passion for climbing. As a team we go beyond that and strive to do more together for the school and the climbing community. We are SUTD’s Bouldering Club but we do whole lot more than just regular climbing traini

[2021-08-15 14:29] Jefflai0315 commented on #32
Hello @ExtremelySunnyYK Yong Kang!

1. Yes! each participant will only be allocated $5 budget. We will cap the total number of participants at 30. Hence the total budget will not exceed $150.
2.  a. Each group will have 5 people in total, including one facilitator from the athletics senior group.
     b. Each group will be equipped with separate training equipment to avoid intermingle between grou

[2021-08-15 14:42] issacj-17 opened #148 "Design Odyssey"
**Name of Student Organisation***
Design Odyssey

**Cluster**
Student Groups

**Classification**
Fifth Row

**Description**
At Design Odyssey, we empower people to impact change in our society. Regardless of their background, we believe that the passion to effect change is the core of Social Entrepreneurship. We utilise Design Innovation and Human-centric approaches to bring our ideas to life. Alo

[2021-08-16 03:51] gnuppie opened #150 "Vertex Cheerleading"
**Name of Student Organisation**
Vertex Cheerleading Club

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
Vertex is a team of like-minded individuals with a similar goal – to perform at the peak of our physical potential. As a competitive, coed Cheerleading Team, our trainings are focused on stunting and tumbling/gymnastics, and prior experience is not needed. If you are seeking

[2021-08-16 05:04] naffins opened #155 "SUTD NihonGo!"
**Name of Student Organisation***
SUTD NihonGo!

**Cluster**
Culture

**Classification**
Fifth Row

**Description**
SUTD's Japanese Culture Club. Our activities include regular cultural sessions where we share on various aspects of Japanese culture, school-wide events such as exhibitions and workshops, and exchanges with students from Japanese schools and universities.

Whether you're just startin

[2021-08-16 05:37] Dhilahesh opened #160 "SUTD Muay Thai"
**Name of Student Organisation***
SUTD Muay Thai

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
SUTD Muay Thai club is a place for people to train to take part in competition or just to stay fit. Its also somewhere you can just hang out, have fun and learn the art of 8 limbs.

**Training / Meeting Timings and Locations **
Mondays 6.30pm-10.15pm Dance Studio 7 and Wednesdays 5.3

[2021-08-16 05:45] robobdo opened #161 "Mechanical Designer Club"
**Name of Student Organisation**
Mechanical Designer Club (MechD)

**Cluster**
Makers Cluster

**Classification**
Fifth Row

**Description**
In MechD, we focus on computing-aided design (CAD) with software like Solidworks and Fusion360. We teach how to design models and products that you can 3D print. Additionally, we provide both beginner and advanced workshops for everyone as well as certificati

[2021-08-16 05:47] oakar-00 commented on #123
Hello @jolow99, sorry I didn't see the comment earlier.
We have been using DS8 every wednesdays and fridays from 7-9pm for the past trainings over the year so I think it should be okay to proceed with the plan.

[2021-08-16 05:48] oakar-00 commented on #124
Hey @ExtremelySunnyYK, thanks for checking through. It is Dance Studio 8! Will do the changes right now. thank you! :)

[2021-08-16 05:49] shaunneo opened #162 "Tennis introductory session"
**Name of Student Organisation***
SUTD Tennis

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
Tennis Club
For competitive / casual players, or people interested in learning the sport.

**Training / Meeting Timings and Locations **
Days: Every Monday and/or Thursday
Time: 7.30 - 10pm
Venue: Tennis court, located on rooftop of ISH

**Student Organisation Introduction Video**
NIL

[2021-08-16 06:23] shaunneo opened #164 "Introduction to SUTD Tennis"
**Session Name**
Introductory session to SUTD Tennis

**Abstract**
We welcome players of all calibers, from brand new beginners to highly-experienced players. Come join us for a fun session to either learn the sport or have some competitive gameplay. No prior experience is needed, we welcome everyone!

**Student Organisation organising this session**
SUTD Tennis

**Event Format**
Physical

**Sessi

[2021-08-16 06:45] keee99 commented on #90
@ExtremelySunnyYK Hello, I noticed the more information needed label, may I know what information you need?

[2021-08-16 09:14] naffins opened #166 "SUTD Wind Ensemble"
**Name of Student Organisation***
SUTD Wind Ensemble

**Cluster**
Arts

**Classification**
Fifth Row

**Description**
SUTD Wind Ensemble aims to promote the music culture in SUTD and beyond, through performance opportunities to deliver a variety of music to the community. Our past activities include involvement in past Lunchtime Performances, and concerts such as Ex Alia Parte 2019 in collaboratio

[2021-08-16 10:04] leonpuah opened #167 "[Insert name of your Student Organisation]"
**Name of Student Organisation***
SUTD Mountaineering

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
Let's go where the mountains are!

Here at SUTD Mountaineering, our primary and longstanding aim is to cultivate the love for the outdoors and an appreciation for nature through affordable and accessible hiking opportunities, as well as more technical mountaineering expeditions

[2021-08-16 12:07] Ho0M4n opened #168 "SUTD Esports"
**Name of Student Organisation***
SUTD Esports

**Cluster**
Community

**Classification**
Fifth Row

**Description**
We play games

**Training / Meeting Timings and Locations **
We don't have any regular meetups, just open jio on our discord and see who is free to play

**Student Organisation Introduction Video**
nop

**Name / Contact of President**
Dickson Neo / @CaptainDicky

**Other Relevant Li

[2021-08-16 14:34] brycegoh commented on #105
So sorry for the late reply.

We will be holding this event online due to covid measures limiting the group sizes.
Event will be on 29th Sept from 4:30pm to 5:30pm.
Sign up link is at https://forms.office.com/r/F4VkqZqiVG

Budget will not be needed.

[2021-08-16 14:48] MarkHershey opened #169 "Digital Design & Development Club (3DC)"
**Name of Student Organisation***
Digital Design & Development Club (3DC)

**Cluster**
Makers

**Classification**
Fifth Row

**Description**
Digital Design & Development Club (3DC) is an official Fifth-Row club affiliated with ISTD Pillar at SUTD. We are also a Developer Student Club (DSC) supported by Google and a member of the OpenNodes Campus Collective. Developer Student Clubs are university-b

[2021-08-16 14:52] Rye123 opened #170 "Systema SUTD"
**Name of Student Organisation**
Systema SUTD

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
Systema - or “cистема”, meaning “system” in Russian - is an internal martial art that focuses on a holistic approach, training each practitioner in body, mind and spirit.

In Systema SUTD, we train alongside Systema Singapore in biweekly sessions, learning from certified Systema instruc

[2021-08-17 03:45] sutdjudo commented on #113
Hi @ExtremelySunnyYK We've been informed that we are now allowed to do contact training on campus. Hence we will be proposing an different Introductory Session from Plan A and Plan B (basically Plan B but hosted on campus). Do we need to make a new issue and redo a new proposal there or should we just write it here in the comments? Thanks!

[2021-08-17 03:48] rebekah1711 opened #171 "Dance DerivativeZ (DDZ)"
**Name of Student Organisation**
Dance DerivativeZ (DDZ)

**Cluster**
Arts

**Classification**
Fifth Row

**Description**
DDZ is a dance club that trains in hip-hop foundation, yet is diverse with members dancing and exploring different styles. You’ll get to learn from our dance captains and various dance instructors, as well as plenty of performance and choreography opportunities too. What’s more

[2021-08-17 03:49] Sorahawk commented on #104
Hi @makehahaz, we understand thanks for clarifying! I will close this issue since we won't be hosting the event under DiscoverSUTD

[2021-08-17 03:49] #104 closed

[2021-08-17 03:49] jiayingpui commented on #112
Hi, here is the link for the compiled spreadsheet:

https://sutdapac-my.sharepoint.com/:x:/g/personal/cdlh_club_sutd_edu_sg/Edqjif5giFJHrtJdEWeTy_UBRhsHYzC0Dg25sf3y_4mxwA?e=7bSmg9

Our updated budget is approx $165.

[2021-08-17 03:51] Sorahawk commented on #102
Hi @ExtremelySunnyYK, understood on the claims part. Wanted to check if there's anything else needed on our end because I just saw the 'More information needed' label is still active here? Thanks!

[2021-08-17 04:06] sutdjudo commented on #113
**SUTD JUDO Introductory Session**

**Abstract**

We will be conducting our Introductory Session on campus at Dance Studio 6 where participants can learn and try firsthand what Judo is all about!

**Student Organisation organising this session**
SUTD JUDO

**Event Format**
Physical

**Session intent (what to expect)**

We hope our participants will gain an insight into how Judo is like as well as

[2021-08-17 09:24] thoastyy commented on #27
**Materials**
- x2 sheets clear acrylic 1220mm x 2440mm x 3mm for $116
- Cut acrylic into 8pcs 960 mm  x 610 mm for $8
- x9 sheets plywood 3mmx960mm x 605mm for $38.52
- x5 sheets plywood 4mm x 690mm x 605mm for $24.08
- x2 Acrylic paint set (set of 6 colours 45ml each tube) for $30
------------
Total cost: $216.6
Number of attendees: 4 facilitators + 45 freshies  (15 attendees per workshop)
Cost

[2021-08-17 14:46] makehahaz commented on #112
Got it, thank you!

[2021-08-17 14:48] makehahaz commented on #105
Not to worry! Since the event is online, should be not much of a problem now. Cheers

[2021-08-19 03:03] jolow99 commented on #141
Hi @kwerer,  thanks for submitting your event proposal. Could I check how many freshies you are expecting? The average fifth row budget request is around $50-$100, so if your cost per pax is $5, we would probably only be able to support up to 20 pax.

Are you also able to provide a justification for why the keychain would be meaningful to the freshmores? (This will increase your chances of getting

[2021-08-19 08:41] ExtremelySunnyYK commented on #102
@Sorahawk Thank you. No additional information is needed.

[2021-08-19 08:42] ExtremelySunnyYK commented on #123
@oakar-00 Roger that, Thank you for the reply!

[2021-08-20 12:14] HASSRaccoon commented on #121
Hi @ExtremelySunnyYK ,

Yes we are cleared to use the pool area section of root cove for all weekdays from 3pm-10pm

[2021-08-21 04:53] castlemas commented on #127
Hi FUNKtion, thanks for writing the proposal !

Regarding the venue of Dance Studio 3-5, would it be alright if FUNKtion explore to use Dance Studio 1,2,9 instead of Dance Studio 3,4,5? Unfortunately, we are unable to acquire a booking for MPH for our DiscoverSUTD-2021 Supper with Seniors event due to changes in the booking requirements.

Tentatively Supper with Seniors dates:
16/9, 20/9, 21/9, 22

[2021-08-21 06:46] castlemas commented on #126
@keee99

Hi FUNKtion, thanks for writing the proposal !

Regarding the venue of Dance Studio 3-5, would it be alright if FUNKtion explore to use Dance Studio 1,2,9 instead of Dance Studio 3,4,5? Unfortunately, we are unable to acquire a booking for MPH for our DiscoverSUTD-2021 Supper with Seniors event due to changes in the booking requirements.

Tentatively Supper with Seniors dates & time:
16/9

[2021-08-21 09:21] keee99 commented on #126
@castlemas
Hello, we have difficulty in doing so as we cannot split our session into different venues. We are in the midst of discussion, is it ok if we reply to you by Monday night?

[2021-08-22 06:16] Ho0M4n opened #172 "ROOT Student Government"
Name of Student Organisation***
ROOT Student Government

**Cluster
Student Government

Classification
Fifth Row

Description
ROOT, the Student Government of SUTD, acts as a reliable middleman by facilitating engagement between the school management and student population. The various committees within ROOT come together to accomplish numerous duties, such as addressing feedback and fifth row matte

[2021-08-22 07:58] Rye123 commented on #130
Hi, Systema SUTD will be changing the session to the following:

- We will no longer be conducting an intro session on 28th September. Booking of DS7 or DS8 no longer required
- We will instead be adding form responders to a group where we will engage with them directly, conducting a virtual intro session at a date to be decided should the interest level warrant it.

[2021-08-22 13:20] makehahaz commented on #100
Hi @gnuppie Louis, just an update from our end that:

22 September, there will be a Mandatory PPP session for the freshies, so that afternoon session will not be supported.

We're still waiting on the budget approval. If it is approved, it will be based on the number of expected attendees. (More details will be shared eventually).

[2021-08-22 13:30] makehahaz commented on #103
Hi @9Breaker , just an update and some clarification from our team:

1. How many venues in total needed? Is one venue to host your 20 pax sufficient?

2. TT16 and TT17 will not be available during the September term. So we're quite tight on venue space.

3. Where is the SAC located at, we are not sure if we have booking access to that venue.

Do update before this coming Wednesday, 25 Aug. Thank y

[2021-08-22 13:36] makehahaz commented on #106
Hi @sutkd, just some updates from our team.

**1. We are not able to support your 24 September session if goes past 6pm (any Friday session beyond 6pm will not be labelled under DiscoverSUTD). A suggestion would be to either bring your session forward if possible, or the session will be truncated.** _Otherwise you will have to submit a normal EPF for the session (which in my opinion is not worth t

[2021-08-22 13:41] makehahaz commented on #123
Hi @oakar-00, just an update from our team:

1. 10 September falls out of the DiscoverSUTD calendar, so it will not be labelled under DiscoverSUTD. Fresmores will be involved in their respective orientation plans.

2. In any case, the venue (DS8) was not available to be booked on our end for the 10 Sep.

3. DS8 booking has been made for 15, 17, 22 and 24 September, 7-9pm.

Feel free to let us know

[2021-08-22 13:47] makehahaz commented on #129
Hi @kaveripriyap , do let us know on the budget breakdown for your event.

Do get back with the breakdown by this Wednesday, 25 August, with the requested information.

[2021-08-22 13:52] makehahaz commented on #130
Hi @Rye123 , thank you for the update, will relay this to the DiscoverSUTD team. Thank you!

[2021-08-22 15:11] kwerer commented on #141
Hi @jolow99, I actually checked out a few other keychains that are much cheaper, we can buy the keychains depending on how  much freshies and funding we have.

I believe giving freshies a keychain would give them something meaningful to bring back, more importantly, I shows the thought that our club has given into inviting them to the sessions by getting them a small gift individually. I feel this

[2021-08-22 15:23] ExtremelySunnyYK commented on #137
Closing due to duplicate. Will refer to this link instead
https://github.com/OpenSUTD/DiscoverSUTD-2021-microsite/issues/133

[2021-08-22 15:28] ExtremelySunnyYK commented on #136
@sutdmountaineering Hi, unfortunately the funding for this session is rejected as

1. We do not support the transport cost.
2. Average cost for discover sutd is $100.
 to lower the budget and propose a

[2021-08-22 15:34] ExtremelySunnyYK commented on #138
@justinehy Hi could you help us to clarify the session dates?
 (i) 15 Sep Wed and 16 Sep Thu or (ii) 14 Sep Tue and 15 Sep

[2021-08-22 15:36] ExtremelySunnyYK commented on #137
Hi @mingliang17 The funding is rejected as the cost is too high. The average funding required is around $100. Please repropose with a lower funding required thank you!

[2021-08-22 15:37] ExtremelySunnyYK commented on #172
@Ho0M4n You guys are the last to submit. Please submit details earlier next time. It is unfair to other fifth row

[2021-08-22 15:45] ExtremelySunnyYK commented on #119
@brutatoasta thank you for updating the details. After submitting to student admin, they had these comments:

We are not able to support session on 15 Sep. Mandatory Human Library is scheduled in the afternoon of 15 Sep.

1. Are you able to reschedule this session to another timeslot with the calendar?
1. Also what might be the  expected attendance if you are rescheduling this event?
Thank you!

[2021-08-22 15:56] ExtremelySunnyYK commented on #108
@naffins SUTD Wind Ensemble Intro Session

Hi there, after submitting to the student admin, they had the following questions:

Do you guys need usto book the venue?

 If so, please help to get the names of the students who will be accessing this venue on the request dates as I have to submit their names to facilities to grant them access.

[2021-08-22 16:00] ExtremelySunnyYK commented on #144
@iangohy Thanks for submitting the event for soar!
The question from student admin is:
TT 16/17 will not be available for Sep term. There are limited venues that can accommodate up to 35pax. Would the club consider to reduce expected attendees to 25pax instead and I will check for venue availablity when the booking system is ready?

[2021-08-22 16:01] ExtremelySunnyYK commented on #164
@shaunneo Please provide the session timings.

 To note: If budget is approved, funding will be allocated based on number of expected attendees. More details will be shared with approval status

[2021-08-22 16:02] After232 commented on #106
Hi!

Thank you for letting us know about the constraints! We'll be contacting OSL soon to see if we can shift our sessions back by an hour. We'll try to have it from 4-6 then. One of us will follow up to this as soon as we get a response!

Additionally, our coach will not be attending for the introductory sessions, so the facilitators are just going to be us, the exco. 2 exco will be present per s

[2021-08-22 16:09] ExtremelySunnyYK commented on #141
@kwerer Thanks for the details of the event. We have checked with student admin and further details would be given out regarding the event budget.

Could you provide us with the following details:
Please provide the session date.
 Please also provide the expected number of attendees in line with prevailing safe management measures.

 To note: If budget is approved, funding will be allocated based

[2021-08-22 16:12] ExtremelySunnyYK commented on #141
@kwerer could you also kindly provide us with the student organisation details?

could you reply us by tuesday as student admin wants everything by Wednesday?

If not we would have to remove the information from the discover sutd website.

Hope that you understand! Thank you!

[2021-08-22 16:16] kwerer commented on #141
@ExtremelySunnyYK Right now we should be able to host the 2 introductions sessions on 13th and 20th September, Week 1 & 2 Monday. Currently, since each court can only host 5 players, we can have 20 players on each day. So it would be a total of 40 freshies if there are more freshies we can consider opening up more slots.

[2021-08-22 16:20] kwerer commented on #141
If you require a number to submit to osl now, we can just say that we are expecting 40 people. the rest will just come on our regular sessions.

[2021-08-22 16:45] kwerer opened #173 "SUTD Badminton Club"
**Name of Student Organization***
SUTD Badminton Club

**Cluster**
Sports

**Classification**
Fifth Row

**Description**
Badminton Club for both casual and recreational players.

**Training / Meeting Timings and Locations **
Venue: ISH 1

(Competitive Team)
Time: Mondays & Wednesdays 8-10pm

(Casual Players)
Time: Mondays 8-10pm

**Student Organization Introduction Video**
---NIL---

**Name / Cont

[2021-08-23 00:16] makehahaz commented on #106
Hey @After232 , thank you! No need to edit the issue, all's good for now. Cheers!

[2021-08-23 00:53] castlemas commented on #126
@keee99

Sure, it's alright!

[2021-08-23 02:45] woemwoem commented on #82
Sorry for the late reply.

1. Estimated 40 attendees. If possible booking of both thinktank 24 and 25. (I believe they are connecting). Masks to be worn at all times. Participants to be seated individually. No interaction between participants other than Q and A in which masks will be worn.
2. Booking date and time: 22/9/21 1600-2000.

[2021-08-23 03:43] jolow99 commented on #84
Hey @rebekah1711, we've just gotten an update on your proposal. Unfortunately, we won't be able to support your event on 17 and 24 Sep, as we have been given an advisory from the school admin to avoid events after Friday 6pm.

What this means is that we would also be unable to advertise the events on 17/24 on our website as well, but we can show the 22 Sep one.  I would recommend that your team ei

[2021-08-23 04:32] jolow99 commented on #88
Hey @ljysarah! Unfortunately, we have a strict guideline from the school to avoid holding events after Fridays 6pm. This means that we would be unable to support your event on 17/24 Sep in terms of budget and adversting. I would recommend that your team either consider other dates, or consider continue hosting your events independent of DSUTD.

Could you let me know if you would like to change the

[2021-08-23 04:51] iangohy commented on #144
Hi! Noted that TT 16/17 is not available. Could you help us to check if it is possible to book two think tanks (near or adjacent to each other)? If possible, we can split our 4 project showcase into 2 projects per think tank. Thanks!

[2021-08-23 06:15] naffins commented on #108
Hi Yong Kang, initially our plan was to book the venue ourselves through OSL as we were not sure whether you could help us do so for SRC venues, but if OSA is able to, yes, please help us to do so if it is not too much trouble. Thank you!

Also, just to check, by when would we need to submit participants' names? Would 3 working days ahead of each session/the first session be alright?

[2021-08-23 06:36] Dhilahesh commented on #114
@ExtremelySunnyYK The proposal has been updated

[2021-08-23 08:35] rebekah1711 commented on #84
Hi @jolow99, thanks for the update. We will go on with our original plan of holding our trial sessions on 17, 22 and 24th. So the 17th and 24th ones will be independent of DSUTD but the 22nd one will be part of DSUTD. Thanks!

[2021-08-23 11:28] keee99 commented on #126
Hello, I regret to inform that DS1, 2 won't be able to accommodate the pax limit that we are looking for, which may affect our membership, and we are also planning to have showcases which require space that DS1,2 do not provide. Additionally, we cannot use DS9 as the studio is not linked and we only have 1 instructor per session. Thus, we are unable to switch the venues. Sorry for the inconvenienc

[2021-08-23 12:08] ljysarah commented on #88
Hi, I've updated the dates. Would Thursdays be possible? Thanks.

[2021-08-23 12:49] jolow99 commented on #88
@ljysarah Noted on your updated dates. Thanks for getting back so quickly! We'll keep you posted.

[2021-08-23 15:59] mingliang17 commented on #137
Top Rope Climbing as Interest Group member
Course Fee: $96 ($6/pax for 16 pax)
Two-way transport: 40-seater bus for both days

Constellation Workshop (Conducted in collaboration with Astronomy Interest Group)
Compass : $15 x 2 = $30
Glow-in-the-dark filament (need 3D Printer) : $30 x 1 = $30

New funding proposal as attached @ExtremelySunnyYK. Feel free to tag me for now till our official account

[2021-08-24 03:00] 9Breaker commented on #103
Hi @makehahaz ,

Apologies for the late reply. To address your queries:

1. We only require one venue. The above venues are suggestions as we understand that there is a chance that one of them might be occupied, therefore we put a few options that we are considering.

2. That is fine. Alternative suggestions are welcome.

3. The SAC (Student Activity Centre) is located at building 5 level 4. You d

[2021-08-24 05:10] castlemas commented on #126
@keee99

Ah, alright. I just spoke to my OSL lets compromise here! We will be using DS 3,4,5 on the dates that do not clash and DS 1,2 on the other dates.

[2021-08-24 05:22] castlemas commented on #126
@keee99

Ah, alright. I just spoke to my OSL, lets compromise! We will be using DS 3,4,5 on the dates that do not clash and DS 1,2 on the other dates. We have a small favour to ask from FUNKtion team...

In the case where this Scenario happens:
Supper held at DS345 on 21/9, after Supper ends, we might not be able to move the chairs up to DS1,2 for our next Supper date 22/9 as the doors might be lo

[2021-08-24 05:42] unclerogercolander commented on #118
Update 1:

Dates for event:
**22 Sep** - High-tempo road ride (more suited for experienced, faster road bikers)
**29 Sep** - More relaxed pace/make-up session (more suited for everyone else)

[2021-08-24 05:43] unclerogercolander commented on #118
have updated with dates for the event. Thanks for the hard work guys, appreciate it :)

[2021-08-24 05:44] brutatoasta commented on #119
Rescheduled to 24th (following Friday) at same time (2pm to 3.30pm)

Expected 10 pax turn out

[2021-08-24 05:50] ExtremelySunnyYK commented on #114
@Dhilahesh Kindly note that discover SUTD would not support events after September. Therefore the session on 4th october would not be Supported.

[2021-08-24 06:03] Dhilahesh commented on #114
@ExtremelySunnyYK We have decided to change the dates to 20th and 27th of September.

[2021-08-24 06:07] ExtremelySunnyYK commented on #173
Hi @kwerer kindly provide email for the issue! thank you

[2021-08-24 06:34] kaveripriyap commented on #116
Hello, @ExtremelySunnyYK! I've updated the details according to the comments. Please do go through it and let me know if any changes need to be made. Cheers!

[2021-08-24 07:21] kaveripriyap commented on #129
Hello, @makehahaz! I've updated the details according to the comments. Please do go through it and let me know if any changes need to be made. Cheers!

[2021-08-25 08:36] issacj-17 commented on #148
Video has been added.

[2021-08-25 14:16] kyrinthz commented on #106
Hello ! We would like to inform you on two changes.
1) Our coach will be joining our introductory session on 24th September.
2) All our sessions will be conducted from 4-6 (as approved by OSL)

Thank you!

[2021-08-25 15:28] keee99 commented on #126
@castlemas Sorry for the late reply! As Ignatius replied on telegram, we are willing to help and provide manpower to shift the furniture and set up the venue. Please do inform us of any further instructions that we may need to know! :)

[2021-08-25 15:31] #126 closed

[2021-08-25 15:33] castlemas commented on #126
ps accidentally clicked close issue @ExtremelySunnyYK  !

[2021-08-26 14:00] namitha9 opened #174 "Taal Indian Dance Club"
**Name of Student Organisation***
Taal Indian Dance Club

**Cluster**
Arts

**Classification**
Fifth Row

**Description**
We aim to create a vibrant Indian Dance community, where anyone, regardless of race, can learn and enjoy the many forms of Indian dances like Bollywood, Contemporary, Lyrical Hip Hop as well as Bhangra. Having a strong bond with the team and passion for dance, we want to spread

[2021-08-26 14:32] namitha9 opened #175 "Taal Intro Session"
**Session Name**
Taal Intro Session

**Abstract**

A session to introduce the freshies to the bollywood dance culture and welcoming them to the family with fun games and Simpang supper.

**Student Organisation organising this session**
Taal Indian Dance Club

**Event Format**
Physical

**Session intent (what to expect)**

- Share with us what you hope your participants will take away from this ses

[2021-08-29 09:29] Vemrthiss opened #176 "SUTD Chamber Ensemble"
**Name of Student Organisation***
SUTD Chamber Ensemble

**Cluster**
Arts

**Classification**
Fifth Row

**Description**
Small community of String instrumentalists, coming together to play classical music and explore other genres.

**Training / Meeting Timings and Locations **
Venue: MR1
Wednesdays 7-9pm

**Student Organisation Introduction Video**
https://www.youtube.com/watch?v=UfvuWnxBnEk

**Na

[2021-08-29 09:32] ExtremelySunnyYK commented on #45
@Ho0M4n Could we know the following details:

1. Date and time of the event
2. Location of the event
3. Is help needed for booking of the location

Thank you.

[2021-08-29 15:35] jolow99 commented on #121
Hey @HASSRaccoon, just a heads up. The school admin has advised that all DiscoverSUTD events should not be held after Fridays 6pm so we won't be helping to advertise your event on the 17th and 24th on our website. Do feel free to continue hosting it for your club members though.

Cheers!

[2021-08-29 16:05] ZhiZhangT commented on #37
Hello @ExtremelySunnyYK @jolow99 , apologies for the late reply.

1. Expected number of participants: 60. Expected number of facilitators: 4. To ensure safe-distancing, each facilitator would engage with 4 other participants if there are larger groups. Each group would be spaced at least 2m apart and each group member will be spaced 1m apart.

2. Date & Time of the event: 15th September, Wednesday

[2021-08-30 07:43] castlemas commented on #119
@brutatoasta Hi there I have a few questions to clarify, would be great if you let me know by today.
1. Venue Football field is the one with the running track?
2.  OSL was concern if you're alright with the timing of 2pm as it sounds like it'll be very hot
3. If no, would you be considering other venues?

Thank you xx

[2021-08-30 07:46] brutatoasta commented on #119
hi @castlemas
1. Yes, the one with the running track. We are using the astroturfed area.
2. We initially picked 2pm as we were afraid people would have to wait long in school before the event. Do you recommend shifting it to 3pm?
3. There is another field in between the hostel and the fablab, but we prefer the football field as it is more well known and larger.

[2021-08-30 07:46] castlemas commented on #144
@iangohy

Hi there, below are the venues and times that we could help book for. Would be great if you could let me know by today.

**Only the following venues are able to accommodate 35pax.
 - TT 9/10 are available after 8pm on 16 Sep.
 - Would the club consider LT 5 instead? Maximum capacity for LT 5 with 'W" seating pattern is 48pax**

Do let me know if you have any questions.

Thank youxx

[2021-08-30 07:52] castlemas commented on #93
@lowryan

Hi Ryan, I noted that you would not need help with the booking of the Music Room venue, **may I know if you'll be requiring access to the Music room?
 If so, could I have at most 2 facilitators' Student IDs and Email so that we could grant you card access to the Music Room?**

Thank you xx

[2021-08-30 08:00] castlemas commented on #23
@MasonGYC
Hi there, I have one questions I'll like to clarify. Would be great to let us know by today.
**1. Noted that SUTD KARATE have booked DS7 themselves. Would you be requiring us to help book for DS 7 then?**

Let me know if you have any questions.

Thank you xx

[2021-08-30 08:02] castlemas commented on #144
Updates:
SOAR will be requesting for booking of LT 5 48pax

(just an update, no actions required !!)

[2021-08-30 08:53] lowryan commented on #93
Yes, we would require card access to the Music Room for the sessions on both days.

Facilitator Details:
Low Ryan (1005257) - ryan_low@mymail.sutd.edu.sg
Tan Kewen (1004562) - kewen_tan@mymail.sutd.edu.sg

Thanks for your help!

[2021-08-30 09:16] castlemas commented on #10
Hi @sutdfootball ,

May I know the number of facilitators on the day of the event? Would like to know the expected number of attendee including the 40 participants will be on the day itself.

Thank you

[2021-08-30 09:26] castlemas commented on #26
Hi @benjaminchong99 ,

May I know the number of facilitators on the day of the event? Would like to know the expected number of attendee including the 32 participants will be on the day itself. Would be great if you could let me know by today.

Thank you xx

[2021-08-30 09:28] castlemas commented on #41
Hi @sutdfloorball ,

May I know the number of facilitators on the day of the event? Would like to know the total expected number of attendees including the 30 participants will be on the day itself.
Would be great if you could let me know by today.

Thank you xx

[2021-08-30 10:14] castlemas commented on #100
@gnuppie
Noted that sessions have changed to

[2021-08-30 10:16] castlemas commented on #100
@gnuppie
Noted that sessions have changed to
Venue: Open space between Building 1&2
Date: 21 Sep (Tue), 28 Sep (Tue)
Time: 1900-2200hrs

**May I know the number of facilitators on the day of the event? Would like to know the total expected number of attendee including the 40 participants will be on the day itself. Would be great if you could let me know by today.**

Thank you xx

[2021-08-30 10:19] castlemas commented on #101
Hi @SUTD-Climbers,

May I clarify that the 25 pax per session means that it includes the number of facilitators too?
Would be great if you could let me know by today.

Thank you xx

[2021-08-30 10:23] castlemas commented on #102
Hi @Sorahawk ,

May I clarify that the 30 pax includes the number of facilitators too? If so, would it be possible to estimate the number of facilitators?

Would be great if you could let me know by today.

Thank you xx

[2021-08-30 10:40] castlemas commented on #103
Hi @Sorahawk ,
We will request a booking of TT18 for your event.

May I clarify that the 20 participants includes the number of facilitators too? If so, would it be possible to estimate the number of facilitators?

Would be great if you could let me know by today. I have dropped you a Telegram message too.

Thank you xx

[2021-08-30 10:59] castlemas commented on #106
Hi @sutkd

Noted on the changes made. Could I confirm the following?

We will request with the booking of Venue: Dance Studio 7
Timing: 1600-1800hrs
Dates: 17th, 22nd and 24th of September
Participants for 17/9 & 22/9: 8 + 2 excos/ session (Total 30)
Participants for 24/9: 8+ 2 excos + 1 coach = 11

Would be great to have your response by today.

Thank you xx

[2021-08-30 11:10] kyrinthz commented on #106
Hi there,

Yes that is right. We did not know your team would book the studio for us so we have emailed OSL who have confirmed our booking of DS7.

Thank you.

[2021-08-30 11:21] Sorahawk commented on #102
Hi @castlemas, I can estimate that we will have around one group of 5 facilitators, the other 25 can be participants.

Thank you!

[2021-08-30 11:29] benjaminchong99 commented on #26
Hi @castlemas , there will be 8 facilitators on the day of the event. The number of attendees including the participants would be estimated to be 40. Thanks!

[2021-08-30 11:36] castlemas commented on #112
Hi @jiayingpui  ,

May I clarify that the 15 participants include the number of facilitators too? If so, would it be possible to estimate the number of facilitators?

Would be great if you could let me know by today.

Thanks xx

[2021-08-30 11:43] castlemas commented on #103
Replied via tele: total attendee would be 20 + 5/10facils

Just an update, no actions required

[2021-08-30 12:21] castlemas commented on #138
@justinehy

Hi,
Noted on the dates being 14 Sept and 15 Sept. Please change this info respectively on [your sign up form ](https://forms.office.com/Pages/ResponsePage.aspx?id=drd2NJDpck-5UGJImDFiPVLNeLLHMHBHhZZxJujeCIBUN0s3SFBPSko0OVIzMUkwWklJWEdNVDkxRS4u)

[2021-08-30 12:25] castlemas commented on #138
Hi @justinehy ,

Noted on the dates being (ii) 14 Sep  and 15 Sep. Please change the info according on [your signup form](https://forms.office.com/Pages/ResponsePage.aspx?id=drd2NJDpck-5UGJImDFiPVLNeLLHMHBHhZZxJujeCIBUN0s3SFBPSko0OVIzMUkwWklJWEdNVDkxRS4u)

May I clarify as for the 10 - 16 pax including facilitators, would it be possible to estimate the number of facilitators?

Would be great if yo

[2021-08-30 12:31] castlemas commented on #121
@HASSRaccoon

Hi, could I clarify
Total attendees: 2-4 participants + 1 facil ?

Would be great if you could let me know by today.

Thank you!

[2021-08-30 12:39] castlemas commented on #118
Hi @unclerogercolander ,

Would like to check, are there only 2 facilitators for this event?
If so, what is the expected number of participants would both facilitators be leading?

Would be great if you could let me know by Today.

Thank you xx

[2021-08-30 12:41] MasonGYC commented on #23
Thanks and I think no need for you to help book the venue since we can do it on our own.

[2021-08-30 12:44] castlemas commented on #114
Hi @Dhilahesh  ,

May I clarify that the 10 pax includes the number of facilitators too? If so, would it be possible to estimate the number of facilitators?

Would be great if you could let me know by today.

Thank you xx

[2021-08-30 12:50] castlemas commented on #141
Hi @kwerer ,

May I check if the 20 participants/session includes the number of facilitators too? If so, would it be possible to estimate the number of facilitators?

Would be great if you could let me know by today.

Thank you xx

[2021-08-30 12:56] castlemas commented on #144
Hi @iangohy ,

May I clarify that the 48 pax includes the number of facilitators too? If so, would it be possible to estimate the number of facilitators?

Would be great if you could let me know by today.

Thank you xx

[2021-08-30 12:58] castlemas commented on #164
Hi @shaunneo  ,

Noted that you will be expecting 12-16 participants including facilitators. Would it be possible to estimate the number of facilitators?

Would be great if you could let me know by today.

Thank you xx

[2021-08-30 13:00] iangohy commented on #144
Hi @castlemas,

Yup, the 48 pax will include the facilitators (13 pax). Thanks!

[2021-08-30 13:01] castlemas commented on #32
Hi @Jefflai0315  ,

May I clarify that there will be 6 groups of 5, 1 facil in each group so:
Total attendees = 25 participants + 5 facils

Would be great if you could let me know by today.

Thank you xx

[2021-08-30 13:06] castlemas commented on #106
Ah, so does that mean you would not need us to help do any booking of venues?

[2021-08-30 13:11] castlemas commented on #23
Hi, so sorry I meant if the team would still like us to help with the booking of **DS6**, not DS7?

[2021-08-30 13:18] castlemas commented on #122
Hi @wangsiyang68  ,

May I clarify what's the number of facilitators and the number of participants? This is so that we could know the expected number of attendees for your event.

Would be great if you could let me know by today.

Thank you xx

[2021-08-30 13:27] ssjh23 commented on #112
Hi @castlemas,

Around 3 facilitators, included in the 15.

Thanks

[2021-08-30 13:28] castlemas commented on #45
Updates from telegram chat with @Ho0M4n ,
1. The booth timings - 2pm - 5pm on  15/9, 17/9, 22/9, 24/9, 29/9
2. outside albert hong
3. no
4. we planning to give the entire freshie cohort this bingo sheet

2 people will be manning the booth

Will change the budget to $100 instead, to only fund their Food video.

[2021-08-30 13:33] Jefflai0315 commented on #32
Hi ,

Yes you are right.

Best regards,
Lai Pin Nean

On Mon, 30 Aug 2021 at 9:01 PM, castlemas ***@***.***> wrote:

[2021-08-30 13:35] castlemas commented on #90
Hi @keee99 ,

May I clarify that the 30 participants includes the number of facilitators too? If so, would it be possible to estimate the number of facilitators?

Would be great if you could let me know by today.

Thank you xx

[2021-08-30 13:43] MasonGYC commented on #23
Oh sorry for the misunderstanding, it will be better if you can help book DS6 as well.

[2021-08-30 13:47] castlemas commented on #108
@naffins

Sure we will help you with the booking of Music Room 1.
Could you provide me with at most 2 Facilitators names that we could use for the card access to  Music Room 1?

Would be great if you could let me know by today.

Thank youxx

[2021-08-30 14:21] naffins commented on #108
Sure, here are the names:
(1) Sean Gunawan (myself)
(2) Chua Mingkai

Thank you for the help :)

[2021-08-30 14:24] castlemas commented on #141
@kwerer

I took a look at [your sign up form](https://forms.office.com/Pages/ResponsePage.aspx?id=drd2NJDpck-5UGJImDFiPW2W3WF-aPFFgGOsn-Xw3UlUN0ZHQVlQUFFOWlBRM0FISDVOWTdVSjNFSi4u), would it be alright to use the [template](https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV1o1VS4u&sharetoken=zv60rxgRFw6Sp0GdVpWP) we provide

[2021-08-30 15:02] kyrinthz commented on #106
@castlemas
We will shift to 6:30-8:30 for our 22/9 session. Could you help us to book the DS7 for 22/9 6:30-8:30? We would not need help for the booking of other days.
Thanks.

[2021-08-30 15:08] castlemas commented on #37
Update

As communicated over telegram,  it is that this introductory session will be:
Held only on the 21/9
Venue: ISH 2
Time: 7pm - 9pm
No assistance in booking of venue is required
expected participants 20 +3 facils

(No actions required just an update !!)

[2021-08-30 15:24] castlemas commented on #108
@naffins Oh no I'm so sorry i meant the Student IDs ! Could you provide me with both of your emails too?

[2021-08-30 15:26] naffins commented on #108
I see, here you go:
(1) Sean Gunawan, 1004414, sean_gunawan@mymail.sutd.edu.sg (myself)
(2) Chua Mingkai, 1004671, mingkai_chua@mymail.sutd.edu.sg

[2021-08-30 16:49] keee99 commented on #90
@castlemas

Hi sorry for the late reply, yes it includes, and we are planning to have around estimated 5 facilitators.

[2021-08-31 00:13] castlemas commented on #14
Hi @Anirudh181001 ,

The registration form link you provided requires permission, could you send us one where everyone could access?

Thank you xx

[2021-08-31 00:20] castlemas commented on #10
@sutdfootball

Note the Registration form you added seems like it's the wrong link ! Do send us the correct link here ya.

[2021-08-31 01:30] wangsiyang68 commented on #122
Hi @castlemas,

Expected number of attendees: 20
Facilitators: 5

[2021-08-31 01:57] makehahaz commented on #105
@brycegoh Hey Bryan! Just some feedback from our team that for your sign-up form. Do use the DiscoverSUTD form template which includes the PDPA clause.

[The link can be found here](https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV1o1VS4u&sharetoken=zv60rxgRFw6Sp0GdVpWP) Do click on 'duplicate form' and create your own fo

[2021-08-31 02:01] makehahaz commented on #112
Hi @ssjh23 . Not sure how your team wants to register the incoming freshies, if there is a need for a form, please do use this [form here](https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV1o1VS4u&sharetoken=zv60rxgRFw6Sp0GdVpWP) . Click on 'duplicate' and share with us your sign-up link here if needed!

[2021-08-31 02:05] makehahaz commented on #123
Hey @oakar-00 Just some feedback from our team that for your sign-up form. Do use the DiscoverSUTD form template which includes the PDPA clause.

The link can be [found here](https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV1o1VS4u&sharetoken=zv60rxgRFw6Sp0GdVpWP) Do click on 'duplicate form' and create your own form! The

[2021-08-31 02:32] oakar-00 commented on #123
@makehahaz I have updated the link with a new form using the template.
please have a look through and let me know if you need anything else. thank you!

[2021-08-31 03:53] castlemas commented on #122
@wangsiyang68 This means Total attendees = 5 Facils + 15 participants?

[2021-08-31 04:33] wangsiyang68 commented on #122
Sorry, I meant 20 participants + 5 facils
Total 25 attendees

[2021-08-31 05:29] castlemas commented on #123
Hi @oakar-00 ,

Please note that there is a Mandatory Hostel session on 15 Sept 8:00pm - 9:45 pm. This clash with your event 15 Sept 7:00pm- 9:00pm. Could I have the team let me know if you'll explore another date?
Would be great if you could let me know by today.

Thank you xx

[2021-08-31 05:39] SUTD-Climbers commented on #101
1. 25 pax is the participant count. I believe the current limit of training sizes by OSL is 30 including coaches, with everyone split into groups of 5. Hence, 25 pax was set as the cap on the amount of participants we want to take per session. We will have at least 3 facilitators per session.
2. Noted, I will discuss with my exco and update here with the new date we have chosen.

[2021-08-31 05:49] castlemas commented on #101
@SUTD-Climbers
Note that the booking reflected on the book system timing does not tally with the time you stated here.
I have attached the booking scheldue below:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/71215246/131448975-2270e37a-e316-425e-92b9-51b7fb66a719.png)
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/71215246/131448988-6f195e88-cb50-4a06-b8

[2021-08-31 06:07] Dhilahesh commented on #114
@castlemas We would like to have 10 participants plus 1 facilitator if possible. Otherwise, it will just be 9 participants and 1 facilitator.

[2021-08-31 07:16] castlemas commented on #88
Update

As confirmed over telegram

1. We are unable to book the session till 11:30pm, the latest is 11:00pm
2.  The venue is not available on 16 Sept and 30 Sept
3.  20 sep,27 sep 10pm - 11pm will be requested for booking instead.

(no actions required just an update!)

[2021-08-31 08:06] castlemas commented on #123
Update

[2021-08-31 08:08] castlemas commented on #123
Update

As communicated on Telegram,
This event will only be held on:
17 September, Friday : 7-9pm
22 September, Wednesday : 7-9pm
24 September, Friday : 7-9pm

(no actions required, just an update ! )

[2021-08-31 08:43] ExtremelySunnyYK commented on #121
Hey @HASSRaccoon Just some feedback from our team that for your sign-up form. Do use the DiscoverSUTD form template which includes the PDPA clause.

The link can be found here
https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV1o1VS4u&sharetoken=zv60rxgRFw6Sp0GdVpWP

Do click on 'duplicate form' and create your own form! Th

[2021-08-31 08:45] ExtremelySunnyYK commented on #117
Hey @FolkLoreee  Just some feedback from our team that for your sign-up form. Do use the DiscoverSUTD form template which includes the PDPA clause. We are not able to verify as we cannot access your forms.

The link can be found here
https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV1o1VS4u&sharetoken=zv60rxgRFw6Sp0GdVpWP

[2021-08-31 08:46] ExtremelySunnyYK commented on #114
@Dhilahesh Hey! Just some feedback from our team that for your sign-up form. Do use the DiscoverSUTD form template which includes the PDPA clause.

The link can be found here
https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV1o1VS4u&sharetoken=zv60rxgRFw6Sp0GdVpWP

Do click on 'duplicate form' and create your own form! The

[2021-08-31 08:49] ExtremelySunnyYK commented on #164
Hey @shaunneo  Just some feedback from our team that for your sign-up form. **Do use the DiscoverSUTD form template which includes the PDPA clause. Please also provide the sign up link so that we can verify it.**

The link can be found here
https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV1o1VS4u&sharetoken=zv60rxgRFw6Sp0

[2021-08-31 08:50] ExtremelySunnyYK commented on #37
Hey @ZhiZhangT  Just some feedback from our team that for your sign-up form. Do use the DiscoverSUTD form template which includes the PDPA clause.

The link can be found here
https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV1o1VS4u&sharetoken=zv60rxgRFw6Sp0GdVpWP

Do click on 'duplicate form' and create your own form! The

[2021-08-31 08:51] ExtremelySunnyYK commented on #32
Hey @Jefflai0315 Just some feedback from our team that for your sign-up form.
**Please provide the sign up form link so that we can verify that there is consistent branding.
Do use the DiscoverSUTD form template which includes the PDPA clause.**

The link can be found here
https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV

[2021-08-31 08:53] ExtremelySunnyYK commented on #23
Hey @MasonGYC Just some feedback from our team that for your sign-up form.
**Please provide the sign up form link so that we can verify that there is consistent branding.
Do use the DiscoverSUTD form template which includes the PDPA clause.**

The link can be found here
https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV1o1

[2021-08-31 09:09] HASSRaccoon commented on #121
sorry for late reply, well understood!

[2021-08-31 09:12] HASSRaccoon commented on #121
hi,

1. yes
2. understood, we'll leave that timing out, we're ok to have it as that :)

[2021-08-31 09:12] sutdfloorball commented on #41
Hello @ExtremelySunnyYK and @castlemas,

We have updated the number of facilitators and participants under "**Session Capacity**".

Thank you!

[2021-08-31 09:21] MasonGYC commented on #23
Hi this is the form for the intro session:
https://forms.office.com/Pages/ResponsePage.aspx?id=drd2NJDpck-5UGJImDFiPfBXLfjvK7RNjkUA8s6CCr1UM1BMVUxMNjdZMUI5WjNDNUwxVzNOSzJDRC4u

[2021-08-31 09:23] Jefflai0315 commented on #32
Dear Yong kang,

You can find the link here
https://forms.office.com/Pages/ResponsePage.aspx?id=drd2NJDpck-5UGJImDFiPU9t0i7OeHhAu3j2VCvLF5JURUVaTUtMUU41TURRSEZRMTk0N0ZGRVROUS4u

Sincerely,
Jeff Lai Pin Nean

On Tue, 31 Aug 2021 at 16:52, Chia Yong Kang ***@***.***>
wrote:

[2021-08-31 09:40] HASSRaccoon commented on #121
Done!

[2021-08-31 12:10] jolow99 commented on #15
Hi @yenchingp! Could I trouble you to use our template for your registration form? This was in the original GitHub issue template. Have attached it here for your convenience https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV1o1VS4u&sharetoken=zv60rxgRFw6Sp0GdVpWP

[2021-08-31 12:12] jolow99 commented on #26
Hi @benjaminchong99 could I trouble you to use our template for your registration form? This was in the original GitHub issue template. Have attached it here for your convenience https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV1o1VS4u&sharetoken=zv60rxgRFw6Sp0GdVpWP

[2021-08-31 12:18] jolow99 commented on #92
Hi @Isaac-Soh, we've just gone through your registration form. Thanks for following the template!

We've noted that you will be holding multiple sessions for your event. Would you want to add an option for registrants to choose which session they are attending? Do let us know and update the form accordingly!

[2021-08-31 12:23] jolow99 commented on #88
Hey @ljysarah could I trouble you to update the registration form with the new dates / times? Thanks a lot!

[2021-08-31 12:42] ljysarah commented on #88
Registration form updated

[2021-08-31 12:46] yenchingp commented on #15
@jolow99 i have updated the link

[2021-08-31 13:21] benjaminchong99 commented on #26
Hi @jolow99 I have updated the form, please feel free to let me know if any further amendments are needed.
https://forms.office.com/Pages/ResponsePage.aspx?id=drd2NJDpck-5UGJImDFiPaJm8N1hPIRBvhH79UMmoCVUME1OUjNESllaMUhBRllBN0lFVUJYRFBVMi4u

[2021-08-31 15:08] Dhilahesh commented on #114
@ExtremelySunnyYK Hey, our sign up link has been updated to include the PDPA clause and some other details. Thank you!

[2021-08-31 15:33] SUTD-Climbers commented on #101
For our session on 15 Sep is it possible to move it to 14 Sep since it clashes with the hostel event?
By default OSL has booked the wall for us as 2 separate sessions from 630pm-830pm and 840pm-1045pm so that we can accommodate 2 sessions in a day. However, we prefer to have only 1 session from 730pm-930pm within the duration of the 2 booked sessions so that we have buffer time before and after th

[2021-08-31 15:43] hungchiayu1 commented on #141
@castlemas

Hi, the 20 participants includes facilitators too! We have 4 facilitators.
Yupp we can change to the template provided

[2021-08-31 16:17] castlemas commented on #101
@SUTD-Climbers

Does this mean that your OSL would be helping with the booking of the venue for this event ?

[2021-08-31 16:29] castlemas commented on #132
hi  @makehahaz

could you estimate the no. of facils which will be includeded in the 50pax?

[2021-08-31 16:39] castlemas commented on #134
Hi @Jeanhere ,

May I know what's the estimated no. of facilitators?
Total attendees = no. of facils + no. of participants

Would be great if you let me know soon
Thank youxx

[2021-08-31 16:42] castlemas commented on #119
@brutatoasta

Total Attendees = 3 facils + 10 pax

Is this correct?
Would be great if you could let me know soon.

Thank youxx

[2021-08-31 16:57] castlemas commented on #82
@woemwoem

Is this correct?
Total attendees = 10 facils + 30 participants?

Would be great if you could let me know soon.

Thankyouxx

[2021-08-31 17:03] castlemas commented on #92
@Isaac-Soh

May I clarify the no. of participants includes the number of facilitators? If so could you let me know the estimated number of facilitators?
Note that: Total attendees = no. of facils + no. of participants

Would be great if you could let me know soon.

Thank youxx

[2021-08-31 17:18] castlemas commented on #86
Hi @asdfash  ,

Note that you are expecting 10 pax including facilitators for the event. May I know what is the estimated number of facilitators?

Would be great if you could let me know soon.

Thank you xx

[2021-08-31 19:16] brutatoasta commented on #119
Hi castlemas, 5 facils! thanks.

[2021-08-31 23:32] Jeanhere commented on #134
Hi, yes that’s correct. There will be 7 facilitators in total but 5 facilitators will be in the IDiA lab while the other 2 will be in the other venues, since the max capacity of IDiA lab is 25 pax

[2021-09-01 04:39] SUTD-Climbers commented on #101
@castlemas

I got an email from OSL saying that they have booked the rock wall from 13 September 2021 to 23 January 2022 from Monday - Thursday 6.30pm - 8.30pm & 8.4pm - 10.45pm so I would assume that they have already done so.

[2021-09-01 06:13] woemwoem commented on #82
1. Physical Participants: 40
    Facilitators: 10
    Total: 50 Physical attendees.
    Sorry for being unclear.

2. We are ok with shifting the session back. To confirm, the session would be from 6pm to 8pm. If possible, we would like to book the venue an hour earlier and an hour later to prepare and clean up. Ideally the venue could be booked from 5pm to 9pm.

[2021-09-01 07:58] castlemas commented on #101
@SUTD-Climbers

Hi, I spoke to my OSL, we would not be able to hold on 14 Sept.

Would the team prehaps consider the third week instead
28/9 or  28/9  730-930pm

Please refer to our timeline [here](https://opensutd.org/DiscoverSUTD-2021-microsite/proposal_details/) and choose a  date that is labeled Fifthrows session!

Thank you

[2021-09-01 09:39] makehahaz commented on #132
Our event facils should be around 8 pax. The remaining space of 42 pax will be a mix of freshies and existing members! But we will have a grouping system to limit participation capacity at 50.

[2021-09-01 11:21] jolow99 commented on #15
Thanks @yenchingp !

[2021-09-01 11:36] jolow99 commented on #26
Thanks @benjaminchong99 !

[2021-09-01 12:00] SUTD-Climbers commented on #101
@castlemas

I think in that case we will just have 3 sessions. Thanks!

[2021-09-01 12:54] jolow99 commented on #82
Hey @woemwoem , noted on your requested requirements. We will do our best to help you get a venue that fits your needs and will update you when we get the booking confirmation.

Could you please update your registration form to reflect the new timings, and put the venue as TBC first

[2021-09-02 01:31] makehahaz commented on #100
Hey @gnuppie Also to update that your budget for the event (since it will be a total of 2 sessions on the 21st and 28th), the total budget will be 70 dollars.

[2021-09-02 01:36] makehahaz commented on #101
Hi @SUTD-Climbers . Just to update that your $30 budget request has been approved to get your materials. More details on the claim process will be let known

[2021-09-02 01:40] makehahaz commented on #102
Hi @Sorahawk your budget of $77 has been approved, so your team can proceed to get your stuff! More details on the claim process will be shared.

[2021-09-02 01:47] jolow99 commented on #15
Hi @yenchingp! We have good news for your team.

Your budget request for $105, has been allocated the full $105 and we have booked TT23 for 21/23/28/30 sep from 7pm-10pm. Do note that TT23 has a max capacity of 25 pax.

Wishing your team a successful and smooth event!

[2021-09-02 01:49] jolow99 commented on #10
Hi @sutdfootball,

Your budget request for $190, has been allocated $108 which was calculated based on a capped refreshment claim of $1.35/pax.

Wishing your team a successful and smooth event!

[2021-09-02 01:54] makehahaz commented on #103
Hi @9Breaker Just to update on 2 things:

1. Your budget has been approved. More details on the claim will be let known:

[2021-09-02 01:56] yenchingp commented on #15
@jolow99 noted and thank you! I have made the necessary changes to the registration form.

[2021-09-02 02:14] makehahaz commented on #106
Hi @kyrinthz Just an update on our end that your approved budget amount is $40.50 to get your refreshments! We will share more details on the claim process, but it will be done via concur (so do remember to keep your receipts!).

[2021-09-02 02:18] makehahaz commented on #109
Hi @naffins Just to update from our end that your budget of $10 has been approved! Do remember to keep your receipts as the claim process will be done via concur.

Also, your venue will nowbe at Think Tank 18 from 8-10pm.

[2021-09-02 02:32] makehahaz commented on #122
Hi @wangsiyang68, just an update from our team:

1. Your budget for $100 has been approved.

[2021-09-02 10:06] makehahaz commented on #112
https://forms.office.com/r/g6bXnNsjF1

[2021-09-02 10:53] castlemas commented on #129
Update:

As communicated over Telegram,
Time is shifted to **3:00 pm - 6:00pm** on **24/9**

(no actions needed, just an update)

[2021-09-02 13:45] jolow99 commented on #34
Dear @rotaractsutd Your event has been approved by the school admin. Wishing you a smooth and successful event!

[2021-09-02 13:50] jolow99 commented on #41
Hi @sutdfloorball , your event on 22 Sep has been approved by the school admin. However, do take note that we are not allowed to hold any activities under the DiscoverSUTD event after Fridays on 6pm as a directive given by the school. This means that when we help you advertise, we will only be showing the 22 Sep date. You can still go ahead and conduct the event out of DSUTD though.

Wishing you a

[2021-09-02 13:52] jolow99 commented on #44
Dear @ongkahyuan Your event has been approved by the school admin. Wishing you a smooth and successful event!

[2021-09-02 13:55] jolow99 commented on #93
Dear @lowryan  Your event has been approved by the school admin. You have been allocated Music Room 1 on 24 Sep 3pm-6pm and 27 Sep 6pm - 9pm. The full $47.35 of requested budget has been approved as well.

Wishing you a smooth and successful event!

[2021-09-02 13:56] jolow99 commented on #81
Dear @issacj-17  Your event has been approved by the school admin.

Wishing you a smooth and successful event!

[2021-09-02 13:58] jolow99 commented on #92
Dear @Pinottnoirr  Your event has been approved by the school admin.

The venue you have been allocated is TT26 on 16 / 23 Sep 8pm - 10pm which has a capacity of 25 pax. Do remember to update your registration form with the venue as well.

Additionally, your full budget request of $100 has been approved.

Wishing you a smooth and successful event!

[2021-09-02 14:04] jolow99 commented on #82
Dear @woemwoem   Your event has been approved by the school admin.

The venue you have been allocated is TT9 and TT10 on 22 Sep 5pm - 8pm. Do remember to update your registration form with the venue as well.

Wishing you a smooth and successful event!

[2021-09-02 14:06] jolow99 commented on #84
Dear @rebekah1711  your event on 22 Sep has been approved by the school admin.

Additionally, your budget request of $170 has been allocated $54 capped at refreshment claims of $1.35/pax and due to 4 or your proposed sessions being out of the DSUTD calendar.

Wishing you a smooth and successful event!

[2021-09-02 14:08] jolow99 commented on #86
Dear @asdfash    Your event has been approved by the school admin.

Additionally, your budget request of $121.53 has been allocated $60.77 as half of your sessions are within lesson timings.

Wishing you a smooth and successful event!

[2021-09-02 14:16] jolow99 commented on #95
Dear @robobdo  Your event has been approved by the school admin.

Wishing you a smooth and successful event!

[2021-09-02 14:18] jolow99 commented on #96
Dear @issacj-17 Your event has been approved by the school admin.

Additionally, your budget request of $100 for workshop 1 has been allocated $50. Meaning that you have a total budget allocation of $100 across your two events.

Wishing you a smooth and successful event!

[2021-09-02 14:19] jolow99 commented on #97
Dear @issacj-17 Your event has been approved by the school admin.

Additionally, your budget request of $100 for workshop 2 has been allocated $50. Meaning that you have a total budget allocation of $100 across your two events.

Wishing you a smooth and successful event!

[2021-09-02 14:22] jolow99 commented on #26
Dear @benjaminchong99  Your event has been approved by the school admin.

Additionally, your budget full request of $44 for has been allocated $44. Do note that your 22 Sep session clashes may clash with PPP timing and that we will not display that particular session in our event calendar if so, as PPP is a compulsory event.

Wishing you a smooth and successful event!

[2021-09-02 14:25] jolow99 commented on #5
Event approved. 22th clashes with PPP. Full budget request of $40 allocated.

[2021-09-02 14:31] benjaminchong99 commented on #26
Hi @jolow99 , the budget we requested is not $44 but $96.90. I refer you to the proposal above. Can you help us confirm the amount again? Thanks.

[2021-09-02 14:40] jolow99 commented on #26
Hi @benjaminchong99 , I believe you had edited the submission 8 days ago, after our deadline of 12 Aug.

Our team had already compiled and submitted the budget details to the school admin prior to that.

[2021-09-02 15:05] ExtremelySunnyYK commented on #107
Dear @brutatoasta Your event has been approved by the school admin. You have been allocated Music Room 1 on 24 Sep 3pm-6pm and 27 Sep 6pm - 9pm. The full $50 of requested budget has been approved as well.

Wishing you a smooth and successful event!

[2021-09-02 15:09] ExtremelySunnyYK commented on #117
Dear @lowryan Your event has been approved by the school admin. You have been allocated LT 4
29 Sep 6.30pm - 8pm.
Wishing you a smooth and successful event!

[2021-09-02 15:10] ExtremelySunnyYK commented on #17
@caydennn any updates to the timing?

[2021-09-02 15:10] ExtremelySunnyYK commented on #17
Hey @caydennn Just some feedback from our team that for your sign-up form. Do use the DiscoverSUTD form template which includes the PDPA clause. We are not able to verify as we cannot access your forms.

The link can be found here
https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV1o1VS4u&sharetoken=zv60rxgRFw6Sp0GdVpWP

Do

[2021-09-02 15:12] ExtremelySunnyYK commented on #116
Dear @kaveripriyap Your event has been approved by the school admin. However no budget would be allocated as student admin is not able to fund individual membership.

Hope you understand and Wishing you a smooth and successful event!

[2021-09-02 15:13] caydennn commented on #17
Time updated to 7pm.
Get back to you on the form.

[2021-09-02 15:15] ExtremelySunnyYK commented on #114
Hi @Dhilahesh , Your event has been approved by the school admin.

However, Your budget request for $300, has been allocated $27 which was calculated based on a capped refreshment claim of $1.35/pax.

Wishing your team a successful and smooth event!

[2021-09-02 15:16] ExtremelySunnyYK commented on #108
Hi @naffins , Your event has been approved by the school admin.
The location Music Room 1
14, 16, 21, 23 Sep 7.30pm - 9.30pm
has been booked.
Wishing your team a successful and smooth event!

[2021-09-02 15:17] jolow99 commented on #14
Hi @Anirudh181001 Your event has been approved by the school admin.

You have been given TT23 which has a capacity of 25 pax, on 29 Sep from 6pm-8pm.

Additionally, your budget request of $41.80 has been allocated $32.40 as refreshment claims are capped at $1.35 per pax.

Wishing you a smooth and successful event!

[2021-09-02 15:17] Dhanushkmr commented on #14
@jolow99 @castlemas  Here is the link to the form: https://forms.office.com/Pages/ResponsePage.aspx?id=drd2NJDpck-5UGJImDFiPbAE8J5NASpDrs2cVRnSweJUM0o5N0c4OTVJMzQ5TFVaODBXNDEyU05LNi4u

[2021-09-02 15:19] ExtremelySunnyYK commented on #144
Dear @iangohy Your event has been approved by the school admin. You have been allocated

LT5
16 Sep 7.30pm - 10pm

Wishing you a smooth and successful event!

[2021-09-02 15:20] ExtremelySunnyYK commented on #164
Hi @shaunneo , Your event has been approved by the school admin.

However, Your budget request for $93.12, has been allocated $43.20 which was calculated based on a capped refreshment claim of $1.35/pax.

Wishing your team a successful and smooth event!

[2021-09-02 15:22] ExtremelySunnyYK commented on #37
Approved! Funding of 39.75 is approved!

Wishing you a great event @ZhiZhangT

[2021-09-02 15:23] ExtremelySunnyYK commented on #32
Hi @Jefflai0315 , Your event has been approved by the school admin.

However, Your budget request for $150, has been allocated $40.50 which was calculated based on a capped refreshment claim of $1.35/pax.

Wishing your team a successful and smooth event!

[2021-09-02 15:25] ExtremelySunnyYK commented on #24
Event Approved! Congrats and hope you guys have a great event!

[2021-09-02 15:26] ExtremelySunnyYK commented on #23
@MasonGYC Event is approved.

Dance Studio 6
21 Sep 8pm - 10pm

is booked for the event!

Wishing your team a successful and smooth event!

[2021-09-02 15:27] ExtremelySunnyYK commented on #119
Dear @brutatoasta Your event has been approved by the school admin. Your venue of the field from 1400 - 1530 is booked. The full $50 of requested budget has been approved as well.

Wishing you a smooth and successful event!

[2021-09-02 15:31] lowryan commented on #117
Hi @ExtremelySunnyYK I think you've tagged the wrong person for this session

[2021-09-02 15:34] ExtremelySunnyYK commented on #137
Hi @mingliang17 as discussed, unfortunately as the event is not held in sutd and the amount is too expensive per pax, student admin has decided to reject it. I am really sorry as we have tried to fight for you.

If there are anything we can do to help please let us know.

[2021-09-02 15:37] caydennn commented on #17
Hi. You can ignore the sign up form already since we have already closed sign ups. We have the bands performing already. We just need this event on the DiscoverSUTD Calendar. Thanks.

[2021-09-02 23:55] MasonGYC commented on #23
Thank you for your approval!

[2021-09-03 06:05] makehahaz commented on #138
Hi @justinehy any updates as to whether your event for the 15th Sep will be postponed? The Mandatory Hostel Session takes priority for the freshies.

[2021-09-03 08:41] issacj-17 commented on #96
Thanks @jolow99. Will relay it back to my team.

[2021-09-03 13:47] benjaminchong99 commented on #26
Hi @jolow99, alright, sorry about the trouble and thanks for the confirmation. May I ask how are we getting the fund and how to claim from the fund as well? Thanks.

[2021-09-03 15:01] jolow99 commented on #26
hey @benjaminchong99, an email will be sent to your treasurer pok shun, with a concur code. From that, it's just the usual concur claims process

[2021-09-03 16:24] caramelmelmel commented on #117
Our apologies! @lowryan
@FolkLoreee your event has been approved! you can go ahead and make arrangements!!!

[2021-09-03 16:24] caramelmelmel commented on #117
@ExtremelySunnyYK I have helped you to check lmk if you need to open this issue up again

[2021-09-03 16:25] #116 closed

[2021-09-03 16:26] caramelmelmel commented on #5
@ExtremelySunnyYK I'll close this lmk if you need me to open this up again

[2021-09-03 16:29] caramelmelmel commented on #14
@Dhanushkmr noted for that!

[2021-09-03 16:29] #14 closed

[2021-09-03 16:30] #17 closed

[2021-09-03 16:41] mingliang17 commented on #137
Session Name
'Climb to the Stars!' - SUTD Mountaineering Freshmore Introductory Session

Abstract
Join us for a unique introductory session coupled with a constellation knowledge workshop and its application. Aspiring Freshmore mountaineers can take this opportunity to connect with senior members and learn more about the club!

Student Organisation organising this session
SUTD Mountaineering

Even

[2021-09-04 00:13] jolow99 commented on #122
@wangsiyang68 Just an additional note. TT23 has been booked for you on 16/20 Sep 1830-2000, and will have a maximum capacity of 25pax

[2021-09-04 01:06] Jefflai0315 commented on #32
Dear Yong Kang,

Noted with thanks! What is the next course of action? Carry on activities
and submit claims? SUTD discovery will also help with the collection of
claims ?

Best regards,
Lai Pin Nean
On Thu, 2 Sep 2021 at 11:24 PM, Chia Yong Kang ***@***.***>
wrote:

[2021-09-04 01:33] ExtremelySunnyYK commented on #135
Approved! Thanks @Ho0M4n

[2021-09-04 01:33] ExtremelySunnyYK commented on #110
Approved! Wishing all the best with the events!

[2021-09-04 01:33] #110 closed

[2021-09-04 01:34] #135 closed

[2021-09-04 01:36] ExtremelySunnyYK commented on #87
@unclerogercolander approved! thank you and all the best for the event!

[2021-09-04 01:36] #87 closed

[2021-09-04 01:38] ExtremelySunnyYK commented on #111
Approved! thanks and wishing you all the best for the event @sutdjudo

[2021-09-04 01:41] ExtremelySunnyYK commented on #130
Approved! thanks and wishing you all the best for the event

[2021-09-04 01:44] #144 closed

[2021-09-04 01:45] #24 closed

[2021-09-04 01:49] caramelmelmel commented on #32
@ExtremelySunnyYK please answer this and tag jeff I'll close this issue first so that it's neater for me

[2021-09-04 01:51] caramelmelmel commented on #32
@Jefflai0315 You can submit claims as per usual after you have conducted your activity or sessions
@ExtremelySunnyYK please verify if my answer is correct by putting a like to this comment :D

[2021-09-04 01:51] #34 closed

[2021-09-04 01:52] #97 closed

[2021-09-04 01:52] #96 closed

[2021-09-04 01:53] #44 closed

[2021-09-04 01:53] #95 closed

[2021-09-04 01:55] #82 closed

[2021-09-04 01:57] #98 closed

[2021-09-04 02:00] #113 closed

[2021-09-04 02:01] #112 closed

[2021-09-04 02:09] #107 closed

[2021-09-04 02:10] #103 closed

[2021-09-04 02:27] castlemas commented on #138
Update

As communicated over telegram,

This event will be held on **16/9 thursday 7-10PM**.

Pending information on no. of facils

[2021-09-04 02:39] caramelmelmel commented on #175
Hi @namitha9 I believe that @castlemas has already replied to this on telegram. As you have submitted it very late, we cannot process this event.

[2021-09-04 02:39] #175 closed

[2021-09-04 02:52] caramelmelmel commented on #143
@wangsiyang68 Do upload KLEC's new logo here so that the team can verify that it's not tainting the event and tag the four of them

[2021-09-04 02:56] wangsiyang68 commented on #143
@castlemas @ExtremelySunnyYK @jolow99 @makehahaz In case DSUTD has been using our old logo, this is to inform you that KLEC has updated our Club Logo as below. OSL has given approval as of Friday 3/9.

![KLEC Logo](https://user-images.githubusercontent.com/46260857/132080176-388db3e7-ae93-41ca-9d87-c8ee27f8f294.png)

[2021-09-04 02:57] caramelmelmel commented on #137
@ExtremelySunnyYK It's not approved right?

[2021-09-04 05:45] caramelmelmel commented on #172
@ExtremelySunnyYK shall we ignore this then?

[2021-09-04 14:46] mehganei opened #177 "SUTD Bands"
**Name of Student Organisation***
SUTD Bands

**Cluster**
Arts

**Classification**
Fifth Row

**Description**
As one of the largest fifth rows, SUTD Bands provides opportunities for performers to showcase their talent. We also support a wide range of events with our crew and equipment. Join us for a music-loving community!

**Training / Meeting Timings and Locations**
NA; we are an events based cl

[2021-09-06 08:16] jolow99 commented on #30
@erickch123 Thanks for your patience! Your budget has been approved. Do look out for a concur link that will be sent to you soon.

Wishing your team a successful event!

[2021-09-06 08:17] jolow99 commented on #88
Hi @ljysarah, just to let you know. Your full budget request of $30.72 has been approved. We'll keep you up to date on the venue booking once it is confirmed.

[2021-09-06 08:20] jolow99 commented on #27
Hey @thoastyy. Just wanted to let you know that your event and budget has been approved. You have been allocated a total of $80 for the budget. Do look out for the concur code which should be sent to your email soon.

Wishing you a successful event, cheers!

[2021-09-06 08:28] jolow99 commented on #27
As an additional note, do update your registration form using our template, with the updated venue, date and time.

https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV1o1VS4u&sharetoken=zv60rxgRFw6Sp0GdVpWP

[2021-09-06 09:36] ExtremelySunnyYK commented on #116
Hey! Ieee has been allocated $50 bucks for the event!

[2021-09-06 09:51] castlemas commented on #138
@justinehy
Introductory Session to Squash 16/9 thursday 7-10PM is approved!

1. Please update your [form](https://forms.office.com/Pages/ResponsePage.aspx?id=drd2NJDpck-5UGJImDFiPVLNeLLHMHBHhZZxJujeCIBUN0s3SFBPSko0OVIzMUkwWklJWEdNVDkxRS4u)
2. Provide me with the no. of facils

[2021-09-06 10:51] makehahaz commented on #118
Communicated with Timothy via telegram that currently only 2 facilitators. The expected turn-up might be around 10, so it will be 5 per facilitator at maximum.

[2021-09-06 10:53] makehahaz commented on #105
@brycegoh Hey! Sorry, just a ping if this comment was missed out.

[2021-09-06 11:51] brycegoh commented on #105
@makehahaz  Hey, sflr. Our team has already started receiving sign ups on our form. Could we just update with the questions your team requires?

[2021-09-06 12:10] makehahaz commented on #105
@brycegoh hm. Understood, do take reference from the template we provided!

[2021-09-06 16:22] Pinottnoirr commented on #92
@jolow99 Thanks for the updates, big thanks to the team!

Although we have a small request, we were wondering whether it will be possible to help our club change the tele handle to this: https://t.me/joinchat/Y--bRmGrKDM4YTM1. This group will be for the term 1 Freshmores only. Previously the link was to the main sutdio group with everyone and we want to avoid unnecessary spam there.

Apologies for

[2021-09-07 06:31] jolow99 commented on #92
Hey @Pinottnoirr. No worries, noted on your request. Thanks

[2021-09-07 08:27] brycegoh commented on #105
@makehahaz Hi, the form has been edited to include the introduction and the PDPA clause.

Event timings and signup form:
Event will be on 29th Sept from 4:30pm to 5:30pm.
Sign up link is at https://forms.office.com/r/F4VkqZqiVG

[2021-09-07 11:09] HASSRaccoon commented on #121
@ExtremelySunnyYK @jolow99 @castlemas

Hi all, so sorry we have created a telegram bot for our sign ups (PDPA format included) for easier management of registration on our end

Is it possible to update the main channel to look for "SUTD Cuesports Bot" in Telegram?
/start to begin signing up

[2021-09-07 13:33] jolow99 commented on #105
Hey @brycegoh , could I trouble you to edit the styling of the form to match our template as well? You can download the photo from the original template provided. This will be for consistency with all the other fifth rows for the entire discoversutd event.

[2021-09-07 13:37] jolow99 commented on #141
Hey @hungchiayu1 , we just noticed that your form venue states both ISH1 and ISH2. Could I confirm which location it would be at?

[2021-09-07 13:41] jolow99 commented on #119
Hey @brutatoasta , do update your form with the correct date / time.

[2021-09-07 13:58] jolow99 commented on #90
Hi @keee99 , do update your registration form with the correct venue which is now TT18

[2021-09-07 14:08] ZhiZhangT commented on #37
Thank you @ExtremelySunnyYK @caramelmelmel @jolow99 for your support and assistance along the way!

Here is the link for our signup form: https://forms.office.com/Pages/ResponsePage.aspx?id=drd2NJDpck-5UGJImDFiPZ_6XwfSQ8JBtalYlEo_4edURTlVTjdQRk9NNThESFJCWTlGMVhJSDJGTi4u

[2021-09-07 14:09] brycegoh commented on #105
hey @jolow99 @makehahaz , sorry for the trouble. We have made a new form as per the template.

Form url here: https://forms.office.com/r/Rfy9m904Jz

Update, we have changed the timing to 8-9pm on 29th Sept to cater to people who might still have classes/PLS. Do let me know if there are any issues with the new timing.

[2021-09-07 14:34] jolow99 commented on #105
Hey Bryce! Noted on your updated timing. Could I check if you duplicated the template we provided? Your form doesn't seem to have the correct styling for the colors.

https://forms.office.com/Pages/ShareFormPage.aspx?id=drd2NJDpck-5UGJImDFiPWH2rk0WPLpNoz88PwBGAxpUQ0c5TktQNlJKUTVMUFFQTVRHTkJOV1o1VS4u&sharetoken=zv60rxgRFw6Sp0GdVpWP

[2021-09-07 14:39] rphly commented on #105
Noted on the color. Changed back to maroon thanks

[2021-09-07 15:08] jolow99 commented on #105
Thanks @rphly!

[2021-09-07 15:13] keee99 commented on #90
@jolow99 Updated, thanks for the reminder!

[2021-09-07 15:55] hungchiayu1 commented on #141
@jolow99 The location is ISH2 .

[2021-09-08 03:09] makehahaz commented on #117
Hi @FolkLoreee Your sign-up form seems to be broken. Could I trouble you to look into the link and re-upload the sign-up form once more? Thank you!

[2021-09-08 03:57] makehahaz commented on #123
Hi @oakar-00 the sessions for:

17 and 24 Sep both fall on a Friday. Under DiscoverSUTD, all Friday sessions after 6pm will not be labelled under DiscoverSUTD (due to certain guidelines provided to our team).

Sorry if it is any inconvenience to your team!

[2021-09-08 06:44] Vemrthiss opened #178 "Introductory Session to Chamber Ensemble"
**Session Name**
Introductory Session to Chamber Ensemble

**Abstract**
We will guide players of all backgrounds (regardless of experience) to try out string instruments and aim towards playing some music

**Student Organisation organising this session**
SUTD Chamber Ensemble

**Event Format**
Physical

**Session intent (what to expect)**
Participants will learn basic skills required to play strin

[2021-09-08 12:44] mingliang17 commented on #137
Hello, are there any updates? @caramelmelmel @ExtremelySunnyYK

[2021-09-08 13:23] jolow99 commented on #137
Dear @mingliang17,

Unfortunately, OSL has rejected your multiple proposals as they want to be fair to other Fifth Rows who did not get the chance to make changes to their proposals.  We have tried our best to fight for your case, but as warned earlier about the budget being highly unlikely to be approved, OSL was not too pleased about it.

Additionally, our original deadline for event submissions

[2021-09-08 13:25] jolow99 commented on #178
Dear @Vemrthiss,

Our original deadline for event proposals was on 12 Aug and thus we would not be processing this submission.

All the best!

[2021-09-08 13:26] caramelmelmel commented on #137
@mingliang17 (cc: @jolow99) have duly noted about this. Hence, this may not fall into our calendar

[2021-09-09 06:57] thoastyy commented on #27
Our new registration form. Venue has yet to be confirmed.

[https://forms.office.com/r/5fg8iwePEP]

[2021-09-09 09:04] iangohy commented on #144
Hi @ExtremelySunnyYK,

We have some freshmore messaging us saying that they wouldn't be in Singapore in time. Can we check if we want to livestream our tea session do we need any extra forms or anything? The livestream will only include the soar hosts, no participants.

Thanks!

[2021-09-09 11:40] jolow99 commented on #144
@iangohy

Hey Ian!

No worries on that, but do make it clear in the registration form for registrants who won't be attending physically.

All the best!

[2021-09-09 11:42] jolow99 commented on #121
Hey @HASSRaccoon ,

Noted on the change in your registration format and great that you guys are including the PDPA format inside. Cool stuff, we will include it on our website. All the best!

[2021-09-10 02:13] mingliang17 commented on #137
Hi, thanks for replying. Think its better if we just manage the online session ourselves

[2021-09-10 05:01] FolkLoreee commented on #117
Hi @makehahaz @ExtremelySunnyYK, sorry, we attached the wrong link.
I have amended the link to point to the correct form.
We duplicated the form off your template earlier, and from what I see, the PDPA clause is still there.
Is there any part in particular that we need to change?

[2021-09-11 05:30] makehahaz commented on #88
Hi @ljysarah pertaining to the field booking, there is a request to firstly submit your risk assessment form first. From there, we can confirm the booking for your session.

[2021-09-11 05:33] makehahaz commented on #117
@FolkLoreee All is well! The venue should be LT4 for your planned session. Cheers!

[2021-09-11 05:33] #117 closed

[2021-09-17 06:00] #129 closed

[2021-09-17 07:41] naffins commented on #109
Proposed changes for intro session:
- Reopen registration at same link until Monday morning
- Move event to club Discord server
- Cancel cultural presentation portion
- Remove limit on number of participants

We'll send out an email regarding the changes later today. Thanks and stay safe :)

[2021-09-17 12:02] naffins commented on #109
Edit to previous comment:
- We will not reopen registration
- Cultural presentation portion will continue but there will be no physical portion (this will be for an internal session instead)

[2021-09-18 01:39] makehahaz commented on #109
Understood, thank you!

[2021-09-18 02:02] wangsiyang68 commented on #122
Updates:
1. Any new session timings: No, next session on Monday (20/9) will still be held from 6.30 to 8pm
2. Updates to your forms: No
3. Links for virtual sessions: Join us on MS Teams at https://teams.microsoft.com/l/team/19%3ab844901d2d264c5e8440f88fa6b61562%40thread.tacv2/conversations?groupId=a3415fbb-13ef-45aa-b644-67580ecb0524&tenantId=3476b776-e990-4f72-b950-62489831623d

[2021-09-18 02:55] lowryan commented on #93
Hi DiscoverSUTD team,

Due to the cancellation of physical events from now till 24 Sep, our sessions on 24 Sep have been affected. As such, our club is planning to open up new dates for physical events the week after. If we were to hold physical sessions on say 29 Sep and 1 Oct, will the approval of the sessions be done through your team or will it have to be done through OSL (sending EPF?)

[2021-09-18 04:49] naffins commented on #108
Hello, for Winds' intro sessions we will be cancelling them and designating internal sessions in Week 3 as intro sessions instead. Thank you for your support thus far :)

[2021-09-19 14:51] sutdjudo commented on #113
Postponing physical session to Week 3 Monday and Thursday, if physical sessions are able to resume. We would like to wait for physical sessions to resume first, unless OSL does not allow us to do so for a longer period of time.

[2021-09-20 11:51] lowryan commented on #93
Hi DiscoverSUTD team,

Our club is planning to reschedule 2 of our sessions (both previously happening on 24 Sep) to 1 Oct. Our sessions will remain physical and will be held in Music Room 1. I have updated the above issue to reflect the new session dates. Could I check if booking of the venue (Music Room 1) may be done through your team or through OSL? Thanks!

[2021-09-20 13:39] thoastyy commented on #27
**New Session Timings**
- Session 1 (Virtual Intro Session)
24 Sept, Friday, Week 2, 4:25-5:30pm
Zoom

- Session 2 (Physical Intro + Mini Workshop)
29 Sept, Wed, Week 3, 3:25 - 4:30 pm
Think Tank 26

[2021-09-23 06:35] brutatoasta commented on #119
Hi, we will just postpone it to the following week, same time. So that's 1st October, 2.00pm - 3.30pm. We are also submitting further details for RAF as requested by Mei Ling

[2021-09-23 06:39] makehahaz commented on #93
Hi @lowryan as per communicated through telegram. We will try to help your club for the 27 Sep booking.

[2021-09-23 06:47] lowryan commented on #93
Alright, thanks for your help!

[2021-09-24 05:41] rebekah1711 commented on #84
Hi @jolow99, just wanted to check if we should submit our updated trial dates since our trial sessions had to be postponed? We are changing our dates to 1, 6 and 8 October at the same timings and venue, but I understand that only the 6 October session can be counted under DSUTD. We will be booking directly with OSL for 1 and 8 October, but could I confirm if our 6 October trial will be booked unde

[2021-10-01 16:38] #142 closed

[2021-10-03 09:39] #150 closed

[2022-06-29 12:41] #48 closed